.account-page
  .container
    .row
      .col-12.col-sm-4.col-md-3
        .hello-text
          = t('hello') + ','
          = @current_account.name
          %br
          %small= @current_account.email

        %ul.list-unstyled.account-menu
          %li{ class: ('current' if @account_action == 'dashboard') }
            = link_to accounts_dashboard_path do
              %i.fa.fa-user-circle-o
              = t('dashboard')

          %li{ class: ('current' if @account_action == 'edit') }
            - edit_link = @current_account.vat_customer? ? edit_vat_account_path : edit_account_path

            = link_to edit_link do
              %i.fa.fa-address-card-o
              = t('edit_your_account')

          %li{ class: ('current' if @account_action == 'edit_password') }
            = link_to edit_password_account_path do
              %i.fa.fa-lock
              = t('change_password')

          %li.divider

          %li{ class: ('current' if @account_action == 'shipping_addresses') }
            = link_to accounts_shipping_addresses_path do
              %i.fa.fa-truck
              = t('shipping_addresses')

          %li.divider

          %li{ class: ('current' if @account_action == 'orders') }
            = link_to accounts_orders_path do
              %i.fa.fa-archive
              = t('order_list')

      .col-12.col-sm-8.col-md-9
        .account-content
          = yield :account_content
