-# this partial requires the following locals:
-# orders => a collection of orders
-# collapsed => boolean (defaults to true), if true the orders details will be collapsed

- collapsed ||= true

- if orders.size > 0
  .orders
    - orders.each do |order|
      .single-order
        .row
          .col-7
            %small.hidden-xs=t("order_date")
            %b=l(order.created_at, format: :base)
          .col-5.text-right
            %small.hidden-xs=t("order_code")
            %b=order.custom_id

        .row
          -# left half with buttons
          .col-6
            = link_to accounts_order_path(order), class: "btn btn-default btn-sm" do
              %i.fa.fa-plus.mr-1
              = t("order_details")

            = link_to "#order-#{order.id}", data: {toggle: "collapse"}, class: "btn btn-default btn-sm my-2 ml-3" do
              %i.fa.fa-caret-down.mr-1
              = t("preview")

            - if !order.cancelled? && !order.paid?
              = link_to payment_accounts_order_path(id: order), class: "btn btn-success btn-sm my-2 ml-3" do
                %i.fa.fa-credit-card.mr-1
                = t('conclude_payment')

          - # right half sith number, status and total
          .col-6.text-right
            .my-1
              .hidden-xs= t('order_status')

              %span.label{ class: "label-" + order_status_class(order.status_name) }
                = t(order.status_name.parameterize.underscore)

            = "#{t("total")}:"
            %b= number_to_currency(order.with_vat ? order.total : order.total_without_vat)


        .collapse{ id: "order-#{order.id}", class: ('in' if !collapsed) }
          %table.table.order-products
            - order.order_items.each do |item|
              %tr
                %td.image
                  - if (image = item.product.images.first).present?
                    = image_tag(image.url('50x50'))
                %td.name= item.name
                %td.text-right.price= number_to_currency item.price

            %tr
              %td.text-right{ colspan: 3 }
                .row
                  = render 'orders/total_recap', order: order

- else
  %p.text-center
    = t("order_list_empty")
