- if @current_account.present? && (unpaid_orders = @current_account.orders.active.unpaid).present?
  .my-3
    - message = t("unpaid_orders", count: unpaid_orders.size)
    - message += "<ul class='list-inline mt-2'>"
    - unpaid_orders.each do |order|
      - message += "<li><a class='btn btn-sm btn-danger' href='#{accounts_order_path(order)}'><i class='fa fa-archive mr-2'></i>#{order.custom_id}</a></li>"
    - message += "</ul>"
    = flash_danger(message)
