-number = "#{t('payment')} #{@order.custom_id}"
-meta title: [number, t("order_list")], description: [number, t("order_list")].join(" - ")


.order-payment.my-4.text-center
  -if @order.paid?
    %h1=t("order_paid")
    %p=raw t("order_already_paid", custom_id: @order.custom_id)

    =link_to :back, class: "btn btn-default my-4" do
      =t("go_back")
  -else

    %h4
      =t("order_total")
      %b=@order.custom_id
    %h3=number_to_currency(@order.with_vat ? @order.total : @order.total_without_vat)
    %hr
    =render partial: "orders/payment_instructions", locals: {order: @order}