-# this partial contains the fields for the legal representative of company

-# this partial is expected to have the following locals:
-# form => a form builder object (the block yelded by the form_for method)

.additional-informations-fields
  .row
    .col-8.col-sm-6
      .form-group
        / = form.label :birthday
        = form.date_field :birthday, class: 'form-control', placeholder: t('date_format_placeholder'), value: (l(form.object.birthday.to_date, format: :base) if form.object.birthday.present?)

        %small.help-block= t('date_format_help')

    .col-4.col-sm-3
      .form-group
        = form.select :sex, sex_array, { prompt: t('cfis_generator.sex') }, include_blank: false, class: 'form-control'
