-# this partial contains the fields for the address, city, province region...
-# it's used in multiple forms such as the account form for the billing info, or in the shipping adresses

-# this partial is expected to have the following locals:
-# form => a form builder object (the block yelded by the form_for method)

-# the .address-fields class is used by the javascripts to switch input type and can be used to apply custom css just for those inputs
-# changing or removing it will break some functionalities

.address-fields
  .form-row
    .form-group.col-12.col-sm-8
      = form.text_field :address, class: 'form-control', autocomplete: 'shipping street-address', placeholder: true

    .form-group.col-12.col-sm-8
      = form.text_field :address_2, class: 'form-control', autocomplete: 'shipping street-address', placeholder: true

  .form-row
    .form-group.col-12.col-sm-6.country
      = form.select :country, ecommerce_countries, { prompt: t('country') }, class: 'form-control'

    .form-group.col-12.col-sm-6.province
      = form.text_field :province, class: 'form-control', placeholder: true

    .form-group.col-12.col-sm-6.province-select
      = form.select :province, ecommerce_italian_provinces, {}, class: 'form-control'

  .form-row
    .form-group.col-12.col-sm-6.city
      = form.text_field :city, class: 'form-control', placeholder: true

    -# .form-group.col-12.col-sm-6.city-select
    -#   - cities = Province.find_by_full_description(form.object.province).cities.map(&:name) rescue []
    -#   = form.select :city, cities, {}, class: 'form-control'

    .form-group.col-12.col-sm-6.cap
      = form.text_field :cap, class: 'form-control', placeholder: true
