-# this partial contains the fields for the legal representative of company
-# this partial is expected to have the following locals:
-# form => a form builder object (the block yelded by the form_for method)

- show_cfis = I18n.locale == :it

.cfis-fields
  .row
    .col.col-sm-6
      .form-group
        = form.text_field :cfis, class: 'form-control cfis-input', placeholder: true

    - if show_cfis
      .col.col-sm-6
        = link_to t('cfis_generator.button'), 'javascript:;', class: 'fiscal-code-gen'

  - if show_cfis
    .cfis-generator
      .row
        .col.cfis-errors

        - # additional fields for the fiscal code generation
        - ['name', 'lastname', 'birth_date', 'city'].each do |field|
          .col.col-sm-6{ class: "cfis-#{field}" }
            .form-group
              = text_field_tag "cfis[#{field}]", '', class: 'form-control', placeholder: t("cfis_generator.#{field}")

        .col.col-sm-6.cfis-sex
          = select_tag 'cfis[sex]', options_for_select(['M', 'F']), class: 'form-control', prompt: t('cfis_generator.sex')

        - # includes the fiscal code library in needed
        - content_for :javascripts do
          - if !@codice_fiscale_js_included
            - @codice_fiscale_js_included = true
            = javascript_include_tag 'codice-fiscale.min'
            = javascript_include_tag 'forms/fiscal_code_calc'

          - cfis_defaults = { data: { name: (form.object.name if form.object.respond_to?(:name)), lastname: (form.object.surname if form.object.respond_to?(:surname)) }, translations: { error: t('cfis_generator.errors'), name: t('cfis_generator.name'), surname: t('cfis_generator.surname'), isMale: t('cfis_generator.sex'), communeName: t('cfis_generator.city'), day: t('cfis_generator.birth_date'), month: t('cfis_generator.birth_date'), year: t('cfis_generator.birth_date') } }

          :javascript
            $(function() {
              cfisCalc(#{cfis_defaults.to_json.html_safe})
            })
