.company-general-fields
  .form-row
    .form-group.col-12.col-md-12
      = form.text_field :corporate_name, class: 'form-control', placeholder: true

  .form-row
    .form-group.col-12.col-md-12
      = form.text_field :piva, class: 'form-control', placeholder: true

    .form-group.col-12.col-md-12
      = form.text_field :cfis, class: 'form-control', placeholder: true
