.email-pw
  .form-row
    .form-group.col.col-md-12
      = form.email_field :email, autofocus: true, class: 'form-control', autocomplete: 'email', placeholder: true

  .form-row
    .form-group.col-12.col-md-12
      = form.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: true
      - if @minimum_password_length
        %small.help-block
          = t('minimum_password_length', length: @minimum_password_length)

    .form-group.col-12.col-md-12
      = form.password_field :password_confirmation, autocomplete: 'off', class: 'form-control', placeholder: true
