-# this partial contains the fields for the legal representative of company

-# this partial is expected to have the following locals:
-# form => a form builder object (the block yelded by the form_for method)
-# vat_account => boolean (shows the help block that explains that the name and the surname should be of the legal representative)

.name-surname-fields
  - if vat_account
    %h4= t('legal_representative_data')

    .form-row
      .form-group.col-12.col-md-6
        = form.text_field :name, class: 'form-control', autocomplete: 'given-name', placeholder: true

      .form-group.col-12.col-md-6
        = form.text_field :surname, class: 'form-control', autocomplete: 'family-name', placeholder: true
