.phone-fields
  .form-group.row
    .col-4.col-sm-2.prefix-col
      = form.select :telephone_prefix, telephone_prefixes, { prompt: t('prefix') }, class: 'form-control prefix', include_blank: false

    .col-8.col-sm-4.phone-col
      = form.telephone_field :telephone, class: 'form-control', autocomplete: 'tel', placeholder: true

    .col-4.col-sm-2.prefix-col
      = form.select :phone_prefix, telephone_prefixes, { prompt: t('prefix') }, class: 'form-control prefix', include_blank: false

    .col-8.col-sm-4.phone-col
      = form.telephone_field :phone, class: 'form-control', autocomplete: 'tel', placeholder: true

    .col
      %small.help-block= raw t('type_your_phone_numner_personal_data')
