.form-group
  .checkbox-inline
    %label
      = form.check_box :registration_policy
      - if @privacy_sitemap
        = raw t('read_and_agreed_to_the_processing_privacy', link: page_path(id: @privacy_sitemap))
      - else
        = t 'contacts.privacy'
