- meta title: t('login'), description: t('login')

.container
  .row
    - # float would not work on the column level on bootstrap v4
    .col-12.col-lg-6.my-4
      %h4= t('login')

      - # devise uses the flash[:alert] in case of failed login
      - # this will display the error messages
      - if flash[:alert].present?
        .alert.alert-danger
          = flash[:alert]

      - if flash[:notice].present?
        .alert.alert-info
          = flash[:notice]

      - # login form
      = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form' }) do |f|
        .form-row
          .form-group.col-12.col-md-4
            = f.email_field :email, autofocus: true, class: 'form-control', placeholder: true

          .form-group.col-12.col-md-4
            = f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: true

          .form-group.col-12.col-md-4
            = f.submit t('login'), class: 'submit-btn'

        = link_to t('password_lost'), new_password_path(resource_name)

    - # register with the email on the left
    = render 'accounts/shared/register_box'
