.billing-info
  .bg-box
    %h4.box-title=t("invoice_data")

    -inv = @current_cart.data_for_invoice
    %h5.m-0=inv[:invoice_name]
    %p.m-0=inv[:invoice_address]
    %p.m-0=inv[:invoice_address_2]
    %p.m-0
      =inv[:invoice_city]
      -if inv[:invoice_province].present?
        ="(#{inv[:invoice_province]})"
      -if inv[:invoice_cap].present?
        =", #{inv[:invoice_cap]}"
      =inv[:invoice_country]
    -if inv[:invoice_piva].present?
      %p.m-0=inv[:invoice_piva]
    -if inv[:invoice_cfis].present?
      %p.m-0=inv[:invoice_cfis]
      
    %small.help-block.m-0.mt-3
      =raw t("this_data_utilized_for")

    .mt-4
      =link_to cart_missing_details_path, class: "btn btn-default btn-sm" do
        =t("edit_billing_information")