- # shows last minute promotions
- # like the order management priority
- if (promos = @current_cart.promotions).present?
  .row
    .col-12
      %h3.mt-0.mb-5= t('sugested_shop')

  .row
    - promos.each do |promo|
      .col-6.col-sm-4.p-3
        .p-2.pb-3.suggested-product
          - if (imgs = promo.images).present?
            .text-center
              = image_tag(imgs.first.url('400x400>'))

          %h5.text-center= promo.name

          .row.px-3.v-middle
            .col-12.col-sm-6.text-right
              %h4.my-2= number_to_currency(promo.price_with_vat)

            .col-12.col-sm-6.pl-0.text-right
              = form_tag cart_add_product_path(product_id: promo) do
                = hidden_field_tag :quantity, 1
                = hidden_field_tag :redirect_url, request.path
                %button.btn.btn-success.btn-sm.btn-block{ type: 'submit' }
                  = t('simple_add_to_cart')
