.shipping-address>
  -# if the current account has no shipping adresses, show a box with the button to create a new address
  -if @current_account.shipping_addresses.blank?
    .bg-box
      %h4.box-title=t("shipping_address")
      -address = @current_cart.shipping_address
      %b=address.name
      %p.pre-line<>
        =address.to_text
      -if address.note.present?
        %small.help-block<>
          =address.note

      =link_to cart_change_shipping_path, class: "btn btn-default btn-sm" do
        =t("another_shipping")
  
  
  -else
    -# if the account has many shipping addresses, show the radio to select one
    -# plus the button to create a new one
    -content_for :javascripts do
      =javascript_include_tag "frontend/cart/shipping"

    .bg-box
      %h4.box-title.my-0=t("shipping_address")

      .current-address
        -address = @current_cart.shipping_address
        %b=address.name
        %p.pre-line<>
          =address.to_text
        -if address.note.present?
          %small.help-block<>
            =address.note
      
      .addresses
        -@current_account.shipping_addresses.each do |address|
          .select-address
            .radio
              %label
                .heading<>
                  =f.radio_button :shipping_address_id, address.id, checked: @current_cart.shipping_address == address
                  %h5.m-0<>
                    ="#{address.address}. #{address.city}"
                .text<>
                  %b=address.name
                  %p.pre-line<>
                    =address.to_text
                  -if address.note.present?
                    %small.help-block<>
                      =address.note
        
        .mt-4.px-4
          =link_to "#", class: "btn btn-default btn-sm undo-change-shipping" do
            %i.fa.fa-caret-up.mr-2
            =t("cancel")
        .p-4
          =link_to cart_change_shipping_path, class: "btn btn-default btn-block" do
            =t("new_shipping_address") 
      
      =link_to "#", class: "btn btn-default btn-sm change-shipping" do
        =t("change_the_shipping_address")