- title = @current_ecommerce.access_restriction_title
- msg = @current_ecommerce.access_restriction_message

- if (title.present? || msg.present?) && cookies['acc_restriction_passed'] != 'yes'
  - content_for :javascripts do
    :javascript
      ar = swal({
        title: "#{title}",
        html: "#{msg.strip.html_safe}",
        buttonsStyling: false,
        confirmButtonText: "#{t 'access_restriction.enter'}",
        showCancelButton: true,
        cancelButtonText: "#{t 'access_restriction.exit'}",
        allowOutsideClick: false,
        allowEscapeKey: false
      }).then(function() {
        // when user click enter
        Cookies.set('acc_restriction_passed', 'yes', { expires: 365 })
      })

      // when user click exit
      ar.catch(function(dismiss) {
        if (dismiss === 'cancel') {
          window.location.replace('//google.com')
        }
      })
