.container.breadcrumb-container
  .row
    .col
      %nav{ 'aria-label' => 'breadcrumb', role: 'navigation' }
        %ol.breadcrumb
          = render_breadcrumbs tag: 'li', separator: '<li>&bull;</li>'
