-if object && object.errors.any?
  .alert.alert-danger.alert-dismissable{role: "alert"}
    %button.close{type: "button", data: {dismiss: "alert"}, aria: {hidden: "true"}}
      &times;
      %ul
        -object.errors.full_messages.each do |msg|
          %li
            =msg