%ul.nav.justify-content-center
  - @menu_pages.each do |sitemap|
    %li.nav-content
      - if sitemap.layout == 'homepage'
        - url = root_path
      - elsif sitemap.layout == 'root_category'
        - # url = category_path(@root_categories.first)
        - url = categories_path
      - else
        - url = page_path(id: sitemap)

      - klass = 'nav-link '
      - klass += ' active' if @current_menu == sitemap.text
      - # use text for menu, title will be shown on top of content instead
      = link_to sitemap.text, url, class: klass

      - # TODO: move this to a helper
      - if sitemap.layout == 'root_category' && @root_categories.present?
        %ul
          - @root_categories.each do |category|
            %li
              = link_to category.name, category_path(category)

              - if (subcats = category.children).present?
                %ul
                  - category.children.each do |subcat|
                    %li= link_to subcat.name, category_path(subcat)

- content_for :javascripts do
  :javascript
    $('ul.nav').superfish()
