-# this partial requires ONLY ONE of the following locals:
-# sitemap => a Sitemap instance
-# product => a Product instance


-# og:image size
-# facebook: recommends 1200 x 630 for a big preview. Images smaller than 600 x 315 will be used as a small thumbnail on the left
-#           the MINIMUM image size for facebook is 200 x 200, if the image is smaller, you'll receive an error
-# reddit:   uses a square image min 70x70
-# linkedin: minumum size 80 x 150
-# twitter:  dowsn't have any specific size, he just likes the <html prefix="og: http://ogp.me/ns#"> to fallback from twitter cards to the og tags
-og_image_size = "1200x1200>"



-# meta tags
-metatags = {}
-snippet = {"@context": "http://schema.org/"}

-# ----------------------
-# SITEMAP
-if local_assigns[:sitemap].present?
  -# title and og:title
  -metatags[:title] = metatags["og:title"] = sitemap.page_title.present? ? sitemap.page_title : sitemap.text

  -# description and og:description
  -metatags[:description] = metatags["og:description"] = sitemap.meta_description.present? ? sitemap.meta_description : truncate(strip_tags(sitemap.description), length: 255)

  -# keywords
  -if sitemap.meta_key.present?
    -metatags[:keywords] = sitemap.meta_key

  -# og:type
  -metatags["og:type"] = "website"


  -if sitemap.og_image.present?
    -metatags["og:image"] = URI.join(request.url, sitemap.og_image.url(og_image_size))


  -# ----------------------
  -# PRODUCT
-elsif local_assigns[:product].present?
  -snippet["@type"] = "Product"

  -# title and og:title
  -metatags[:title] = metatags["og:title"] = product.page_title.present? ? product.page_title : product.name
  -snippet[:name] = product.name

  -# description and og:description
  -[:meta_description, :description, :description_short].each do |attr|
    -if @product.send(attr).present?
      -metatags[:description] = snippet[:description] = truncate( strip_tags( @product.send(attr) ), length: 250)
      -break

  -# keywords
  -if product.meta_key.present?
    -metatags[:keywords] = product.meta_key

  -if product.og_image.present?
    -image_url = URI.join(request.url, product.og_image.url(og_image_size)).to_s
    -metatags["og:image"] = image_url
    -snippet[:image] = [image_url]

  -# og:type
  -metatags["og:type"] = "product"

  -if product.brand.present?
    -snippet[:brand] = {"@type": "Thing", "name": product.brand.name}

  -snippet[:mpn] = product.ean

  -# since we had problems in the past, let's make sure that the product has a price bigger than 0 before passing the data to google
  -if product.price > 0.0
    :ruby
      snippet["offers"] = {
        "@type": "Offer",
        "priceCurrency": "EUR",
        "price": product.price.round(2),
        # "priceValidUntil": "YYYY-MM-DD",
        "itemCondition": "http://schema.org/NewCondition",
        "availability": (product.available? ? "http://schema.org/InStock" : "http://schema.org/PreSale"),
        # "seller": {
        #   "@type": "Organization",
        #   "name": "Organization name here"
        # }
      }


-else
  -if Rails.env.development?
    -raise "You are rendereing the meta_tags partial without a specifig reference to an object"


- # url
- metatags['og:url'] = url_for(only_path: false) # this will automatically remove any parameter
- metatags['og:site_name'] = ENV['PAGE_TITLE_BASE']
- meta metatags


-content_for :javascripts do
  :plain
    <script type="application/ld+json">
      #{JSON.generate(snippet).html_safe}
    </script>
