.mobile-nav.d-block.d-lg-none
  .mobile-nav-toggler
    %span.mobile-nav-btn

  - if @current_ecommerce.logo.present?
    = link_to image_tag(@current_ecommerce&.logo&.url('60x60#')), root_path, class: 'main-logo'

  .nav-item.cart.cart-icon
    = link_to 'javascript:;', class: 'nav-link' do
      %i.fa.fa-shopping-bag
      %span.badge.cart-counter
        = @current_cart&.products&.size

    = render 'frontend/cart/parts/cart_popup'

.mobile-nav-overlay
  - # main menu links
  - # hide language selection if only have 1 available locale
  - if available_locales.count > 1
    %ul.navbar-nav.lang-switcher-mobile
      - available_locales.each do |loc|
        - klass = " #{I18n.locale.to_s.downcase == loc ? 'active' : ''}"

        %li.nav-item{ class: klass }
          - # if needed, we can use image as locale icon,
          - # just don't forget to read README at public/flags/README.md
          = link_to image_tag("/flags/#{loc}.png"), root_path(loc), class: 'nav-link lang'
          -# title: loc.upcase

  %ul.navbar-nav.account-nav
    - if account_signed_in?
      %li.nav-item= link_to t("my_account"), accounts_dashboard_path, class: 'nav-link'
      %li.nav-item= link_to t("logout"), destroy_account_session_path, class: 'nav-link', method: :delete
    - else
      %li.nav-item= link_to t("login"), new_account_session_path, class: 'nav-link'
      %li.nav-item= link_to t("register"), new_account_registration_path, class: 'nav-link'
  %hr
  - if @menu_pages.present?
    %ul
      - @menu_pages.each do |sitemap|
        %li.nav-content
          - if sitemap.layout == 'homepage'
            - url = root_path
          - elsif sitemap.layout == 'root_category'
            -# - url = category_path(@root_categories.first)
            - url = categories_path
          - else
            - url = page_path(id: sitemap)

          - klass = 'nav-link '
          - klass += ' active' if @current_menu == sitemap.text
          = link_to sitemap.text, url, class: klass

          - # TODO: move this to a helper
          - if sitemap.layout == 'root_category' && @root_categories.present?
            %ul
              - @root_categories.each do |category|
                %li
                  = link_to category.name, category_path(category)

                  - if (subcats = category.children).present?
                    %ul
                      - category.children.each do |subcat|
                        %li= link_to subcat.name, category_path(subcat)

    - if controller_name == 'categories'
      %hr
      %h5.text-dark.filter-title
        = t('filter')
      %ul
        - if all_attributes.present?
          - all_attributes.each do |att|
            .sidebar-widget
              %h5.sidebar-title-mobile.text-dark= attr_name(att)

              %ul.sidebar-list{ class: "#{att.name.parameterize}-list" }
                - attr_values(att).each do |val|
                  %li= link_to val, {att.name.parameterize => val}, class: ('selected' if val.eql?(params[att.name.parameterize.to_sym]))


