- #/ -# this is the bar that with the logo and the button to toggle the menu on mobile resolutions
- #/ .mobile-bar.container-fluid
- #/   = image_tag @current_ecommerce&.logo&.url

- #/   .mobile-menu-toggler
- #/     %span
- #/     %span
- #/     %span

- defaults = "{ position: 'normal' }"
- options = get_layout_options(@menu, YAML.safe_load(defaults))

.header.d-none.d-lg-block{ class: "header-#{options['position']}" }
  - # top small menu with assistance number, login...
  %nav.top-navbar
    .container
      .navbar-nav-left
        = t('products.free_shipping_for_purchase_over_html', total: number_to_currency(@current_ecommerce.minimal_order_amount_for_free_delivery))

      .navbar-nav-right
        %ul.navbar-nav.account-nav
          - if account_signed_in?
            %i.fa.fa-user.nav-link
            %li.nav-item= link_to t("my_account"), accounts_dashboard_path, class: 'nav-link'
            %li.nav-item= link_to t("logout"), destroy_account_session_path, class: 'nav-link', method: :delete
          - else
            %i.fa.fa-user.nav-link
            %li.nav-item= link_to t("login"), new_account_session_path, class: 'nav-link'
            %li.nav-item= link_to t("register"), new_account_registration_path, class: 'nav-link'

          %li.nav-item.cart
            = link_to 'javascript:;', class: 'nav-link' do
              = t("cart")
              %i.fa.fa-shopping-bag
              %span.badge.cart-counter
                = @current_cart&.products&.size

            = render 'frontend/cart/parts/cart_popup'

        - # hide language selection if only have 1 available locale
        - if available_locales.count > 1
          %ul.navbar-nav.lang-switcher
            - available_locales.each do |loc|
              - klass = " #{I18n.locale.to_s.downcase == loc ? 'active' : ''}"

              %li.nav-item{ class: klass }
                - # if needed, we can use image as locale icon,
                - # just don't forget to read README at public/flags/README.md
                = link_to image_tag("/flags/#{loc}.png"), root_path(loc), class: 'nav-link lang'
                -# title: loc.upcase

  %header#main-header
    - # site's main menu
    .container
      .row
        .col
          - if @current_ecommerce.logo.present?
            .main-logo
              - # Brand and toggle get grouped for better mobile display
              = link_to image_tag(@current_ecommerce&.logo&.url('130x130')), root_path

            - # for now search is disabled
            - # / %ul.nav.justify-content-center
            - # /   -# cart and search icon
            - # /   %li
            - # /     = link_to "#", id: "nav-search" do
            - # /       %i.fa.fa-search

          - # main menu links
          - if @menu_pages.present?
            - menu_defaults = "{ type: 'standard' }"
            - menu_options = get_layout_options(@menu, YAML.safe_load(menu_defaults))

            = render "frontend/shared/menu_#{menu_options['type']}"
