- # ============================================================================
- # each sitemap that puts directly under `footer` layout will be rendered as
- # footer column. column width set on large-up screen automatically from
- # total of footer column. on medium screen, it's set to show 2 column, and
- # 1 column in sm and xs screen.

- # i've only set basic layout for up-to 4 columns, more than that number you
- # have to adjust the style yourself.

- # hierarchy:

- # └─ footer (layout: 'footer')
- #    ├─ footer column 1 (no need to set layout)
- #    │  └─ footer link or content (no need to set layout)
- #    │
- #    └─ footer column 2 (layout: 'social')
- #       └─ footer link (if you want to use fontawesome, make sure to name the
- #          sitemap equally to use FontAwesome's naming confentions, without
- #          'fa-'. e.g. 'facebook', 'Facebook', 'instagram', etc. reference:
- #          http://fontawesome.io/icons/)
- # ============================================================================


.footer
  - # display upper footer, if presents on the sitemap
  - if @footer.present?
    .container
      .upper-footer
        .row
          - (footer_sections = @footer.children.active).each_with_index do |footer_section, idx|

            .footer-section.col-12.text-center{ class: "col-md-#{(12 / footer_sections.count).floor}" }
              - # footer logo on children site map
              - if (logo = footer_section.images.logos.first).present?
                = link_to image_tag(logo.url('140x130')), root_path

              - if (title = footer_section.title).present?
                %h4= title

              - if (pages = footer_section.children).present?
                %ul{ class: ('social-media-links' if footer_section.layout.eql?('social')) }
                  - pages.each do |page|
                    %li= sitemap_text_or_link(page).html_safe

              = simple_format(footer_section&.description) unless footer_section.layout.eql?('social')

              - if idx == 3
                - payments = @current_ecommerce.payments
                - payments.each do |payment|
                  = image_tag payment.image.url('35x35'), class: 'custome-img-payment'

  - # footer
  %footer#site-footer
    .container
      .row
        .col-12.text-center
          %small= @current_ecommerce.footer.html_safe

        .col-12.text-center
          .copyright
            %small
              = t('footer.copyright_html', year: Date.today.strftime("%Y"))

              - if @privacy_sitemap.present?
                = link_to t('footer.privacy_policy'), page_path(@privacy_sitemap)

              - if @sitemap.present?
                = link_to t('footer.sitemap'), page_path(@sitemap)

              - if @cookies_sitemap.present?
                = link_to t('footer.cookie_policy'), page_path(@cookies_sitemap)

              - if @browser.device.mobile? || @browser.device.tablet?
                - if @force_desktop_version
                  = link_to t('footer.mobile_version'), url_for(dsktp_v: 0)
                - else
                  = link_to t('footer.desktop_version'), url_for(dsktp_v: 1)

  - # popup for cookie consent
  - if cookies['cookieconsent_dismissed'] != "yes"
    #cookies-message
      .container
        .row
          .col-12.col-md-10.text-center.text-md-left.pb-3.pb-md-0
            %small
              = t('footer.cookies_popup.text')

              - if @cookies_sitemap.present?
                = link_to t('footer.cookies_popup.more_info'), page_path(@cookies_sitemap)

          .col-12.col-md-2.text-center.text-md-right
            = link_to t('footer.cookies_popup.accept'), 'javascript:;', class: 'btn btn-primary c-accept'

    - content_for :javascripts do
      :javascript
        var
          cookies = {},
          popup = $('#cookies-message')

        cookies.$close = popup.find('.c-close')
        cookies.$accept = popup.find('.c-accept')

        // simply close cookies popup when clicking on the "X" button
        cookies.$close.click(function(e) {
          popup.fadeOut()
        });

        // when the user accepts, close popup and set a cookie to prevent the popup
        // from reappearing
        cookies.$accept.click(function(e) {
          popup.fadeOut()
          Cookies.set("cookieconsent_dismissed", "yes", { expires: 365 })
        })
