- if @current_ecommerce.on_vacation? && (message = @current_ecommerce.vacation_alert.squish).present?
  .container
    .my-5.alert.alert-dismissable.alert-warning{role: "alert"}
      %button.close{type: "button", "aria-hidden" => "true", "data-dismiss" => "alert"}
        %i.fa.fa-times
      = raw message
