.order-details{

  .bg-box{
    padding: 15px;
    border: 3px solid #eeeeee;
  }

  .status{

    span[class~=label]{
      font-size: 14px;
    }

  }

  dl:not(.dl-horizontal){

    dt{
      margin-top: 10px;
    }
    dd{
      margin-top: 0;
      line-height: 1;
    }
  }

  #cancel-order{

  }

}
