.orders{
  .single-order{
    margin: 8px 0;
    padding: 15px;
    width: 100%;
    background-color: $smoke;

    .order-products{
      margin-top: 10px;
      margin-bottom: 0;

      tr:first-child{
        td{
          border-top: 0;
        }
      }

      tr{
        background-color: rgba($white, 0.2);
      }

      td{
        vertical-align: middle;

        &.image{
          min-width: 50px;
        }

        &.name{
          @media #{$xs}{
            font-size: 12px;
          }
        }

        &.price{
          white-space: nowrap;
        }
      }
    }


    .status{
      font-size: 20px;
      display: inline-block;
      margin-left: 5px;
    }

    .order-details{
      margin-top: 15px;

      @media #{$xs}{
        text-align: right;
        width: 100%;

        a{
          display: inline-block;
        }
      }
    }
  }
}
