.order-recap-box{
  padding: 15px;
  display: inline-block;
  background-color: $smoke;

  dl{
    margin: 0;

    @media #{$sm-down}{
      dt{
        width: 70%;
        float: left;
        font-size: 12px;
        line-height: 20px;
      }
      dd{
        width: 30%;
        float: right;
        font-size: 14px;
        line-height: 20px;
        margin-left: 0;
        padding-left: 10px;
      }
    }
  }
}
