.sidebar-widget.section
  %h5.sidebar-title= t 'categories'
  %ul.sidebar-list.category-list
    = parse_nested_categories(@all_categories) do |cat|
      - link = cat.children.size > 0 ? 'javascript:;' : category_path(cat)
      - klass = 'selected' if cat.self_and_descendants.pluck(:id).include?(params['id'].to_i)
      = link_to cat.name, link, class: klass

- if all_attributes.present?
  - all_attributes.each do |att|
    .sidebar-widget
      %h4.sidebar-title= attr_name(att)

      %ul.sidebar-list{ class: "#{att.name.parameterize}-list" }
        - attr_values(att).each do |val|
          %li= link_to val, {att.name.parameterize => val}, class: ('selected' if val.eql?(params[att.name.parameterize.to_sym]))

-# = content_for :javascripts do
-#   :javascript
-#     $('.category-list, .category-list ul').each(function() {
-#       if ($(this).find('.selected').size() > 0) {
-#         $(this).slideDown(200).addClass('expanded')

-#         $(this).find('.selected').each(function() {
-#           $(this).closest('ul').siblings('a').addClass('active')
-#         })
-#       }
-#     })

-#     $('.category-list a').each(function() {
-#       var link = $(this)

-#       link.click(function() {
-#         var child = link.next('ul')
-#         if (child.size() > 0) {
-#           child.slideToggle(200).toggleClass('expanded')
-#           link.toggleClass('active')

-#           link.closest('li').siblings('li').each(function() {
-#             $(this).find('ul').slideUp(200)
-#             $(this).find('a').removeClass('active')
-#           })
-#         }
-#       })
-#     })
