- # meta
- meta_description = ''
- # - [:description, :description_short, :name].each do |attr|
-   #- if @categories.send(attr).present?
-   #  - meta_description = truncate(strip_tags(@category.send(attr)), length: 250)
-   #  - break

- # tracking services
- if @trackings.present?
  - content_for :trackings do
    = @trackings.category(@category)

- meta title: t("categories"), description: t("categories")

- content_for :content do
  - # render 'page_content' partial to ensure it has consistent formatting & styling
  = render 'frontend/pages/parts/page_content_categories', sitemap: @sitemap, options: @options

  - if @products.present?
    = render "frontend/pages/parts/product_list_#{@options['layout']}", sitemap: nil, products: @products, options: @options

    .row
      .col.text-center
        = paginate @products

  - else
    .row
      .col.text-center.text-danger.my-5
        %p= t('no_products')


- # products
.container
  .row
    - if @options['use_sidebar'].to_s == 'true'
      .col-4.col-md-3.leftbar
        = render 'frontend/categories/sidebar'

      .col-12.col-md-9.right-content
        = yield :content

    - else
      .col
        = yield :content
