-number = "#{t('payment')} #{@order.custom_id}"
-meta title: [number, t("order_list")], description: [number, t("order_list")].join(" - ")

=account_panel do
  .order-payment.my-4
    -if @order.paid?
      %h1=t("order_paid")
      %p=raw t("order_already_paid", custom_id: @order.custom_id)

      =link_to :back, class: "btn btn-default my-4" do
        =t("go_back")
    -else

      %h4
        =t("order_total") + ":"
        =number_to_currency(@order.with_vat ? @order.total : @order.total_without_vat)

      =render partial: "orders/payment_instructions", locals: {order: @order}
      %hr
      .py-4
        %h3
          =t("change_payment_method")
        %p=t("change_price_warning")
        -# payment method form
        -content_for :javascripts do
          =javascript_include_tag "frontend/cart/payment"

        =form_for @order, url: update_payment_accounts_order_path(id: @order), method: :post do |f|
          =render partial: "frontend/cart/parts/payment_method", locals: {f: f}

          .row.mt-4
            .p-4.float-left
              =link_to :back, class: "btn btn-default" do
                =t("go_back")
            .p-4.float-right
              %button{type: "submit", class: "btn btn-success"}
                =t("save_changes")
