- number = "#{t('order_number')} #{@order.custom_id}"
- meta title: [number, t("order_list")], description: [number, t("order_list")].join(" - ")

= account_panel do
  .order-details
    %h2
      =t("order_number")
      =@order.custom_id

    .row>
      .col-12.col-sm-6>

        %dl
          -# order date
          %dt=t("order_date")
          %dd=l(@order.created_at, format: :base)

          -# order status
          %dt=t("order_status")
          %dd
            %span.label{class: "label-" + order_status_class(@order.status_name)}
              =t(@order.status_name.parameterize.underscore)


          -if !@order.cancelled?
            -# payment status
            %dt=t("payment_status")
            %dd
              -if @order.paid?
                %span.label.label-success=t("paid")
              -else
                %span.label.label-danger=t("in_attesa_di_pagamento")

            -# payment method
            %dt=t("payment_method")
            %dd=@order.payment_name


      .col-12.col-sm-6>
        -if !@order.cancelled? && !@order.paid?
          =link_to payment_accounts_order_path(id: @order), class: "btn btn-success btn-lg btn-block my-2 ml-3" do
            %i.fa.fa-credit-card.mr-1
            =t("conclude_payment")




    -# order's products list
    .row.v-top>
      -@order.order_items.each do |item|
        .col-6.col-sm-4.col-lg-3.p-4>
          -if (image = item.product.images.first).present?
            =image_tag(image.url("250x250"))

          %h5=item.name
          .text-right
            %b=number_to_currency item.price
            ="x"
            =item.quantity

    -# order's price recap
    .row.my-3
      .col-12.col-sm-6.float-right.text-right.p-3
        =render partial: "orders/total_recap", locals: {order: @order, compact: false}


      .col-12.col-sm-6.float-left.p-3
        -if @order.order_items.present?
          -# purchase the same products again
          -reorder_params = {reset: 1, product_ids: [], qt: []}
          -@order.order_items.each do |oi|
            -reorder_params[:product_ids] << "#{oi.product_code}"
            -reorder_params[:qt] << "#{oi.quantity}"
          -reorder_params[:product_ids] = reorder_params[:product_ids].join(",")
          -reorder_params[:qt] = reorder_params[:qt].join(",")

          =link_to cart_add_products_path( reorder_params ), class: "btn btn-success btn-block reorder" do
            %i.fa.fa-archive.mr-1
            =t("reorder_these_products")


    .row
      .col-12.col-sm-6.p-4
        -#invoice data
        .bg-box
          %h4
            =t("invoice_data")
          %hr

          %dl
            %dt
              =@order.invoice_piva.present? ? t("business_name") : t("name")
            %dd
              =@order.invoice_name

            -# vat account
            -if @order.invoice_piva.present?
              %dt
                =t("vat")
              %dd
                =@order.invoice_piva

            -if @order.invoice_cfis.present?
              %dt=t("fiscal_code")
              %dd=@order.invoice_cfis

            %dt=t("address")
            %dd=@order.invoice_address

            -if @order.invoice_cap.present?
              %dt=t("cap")
              %dd=@order.invoice_cap

            %dt=t("city")
            %dd=@order.invoice_city

            -if @order.invoice_province.present?
              %dt=t("province")
              %dd=@order.invoice_province

            %dt=t("nation")
            %dd=@order.invoice_country

      .col-12.col-sm-6.p-4
        -# shipping address
        .bg-box
          %h4
            =t("delivery_data")
          %hr

          %dl
            -# name
            %dt=t("recipient")
            %dd=@order.ship_name

            -# address
            %dt=t("address")
            %dd=@order.ship_address

            -# cap
            -if @order.ship_cap.present?
              %dt=t("cap")
              %dd=@order.ship_cap

            -# city
            %dt=t("city")
            %dd=@order.ship_city

            -# province
            -if @order.ship_province.present?
              %dt=t("province")
              %dd=@order.ship_province

            -# nation
            -if @order.ship_country.present?
              %dt=t("nation")
              %dd=@order.ship_country

            %br

            -# telephone number
            %dt=t("telephone")
            %dd=@order.ship_telephone

            -# ship note
            -if @order.ship_note.present?
              %dt=t("delivery_note")
              %dd=@order.ship_note

    - # cancel order button
    - if !@order.paid? && !@order.cancelled?
      #cancel-order.collapse.my-4
        .p-4.bg-danger
          %h4=t('if_you_really_want_to_cancel_the_order')

          =form_for :order, url: cancel_accounts_order_path(id: @order), method: :patch do |f|
            .form-group.row
              .col-12.col-sm-6.col-md-5
                =f.label :reason, t(:reason)
                = f.select :reason, Order::USER_REASONS.map{|ur| [ t(ur[0]), ur[1] ] }, {}, class: "form-control"
              .col-12
                = f.label :status_note, t("message")
                = f.text_area :status_note, class: "form-control"

            %button.btn.btn-danger{type: "submit"}
              %i.fa.fa-ban.mr-1
              =t("cancel_order")

      .row.my-4
        .col-12
          =link_to "#cancel-order", data: {toggle: "collapse"}, class: "text-danger" do
            =t(:cancel_order)
            %i.fa.fa-caret-down.ml-1
