.cart-confirm{

  .v-top{
    & > *{
      vertical-align: top !important;
    }
  }

  .bg-box{
    // background-color: #f6f6f6;
    border: 1px solid #ccc;
    padding: 15px;

    .box-title{
      margin: 0 0 10px 0;
      padding-bottom: 8px;
      border-bottom: 1px solid #aaa;
      font-weight: 400;
    }
  }

  .shipping-address{
    .current-address{
      padding: 10px 0;
    }

    .addresses{
      display: none;
      // background-color: #f5f5f5;

      &.visible{
        display: block;
      }

      // @media #{$xs}{
      //   overflow-y: auto;
      //   max-height: 200px;
      // }

      .select-address{
        border-top: 1px solid #ccc;
        padding: 10px 0;

        &:first-child{
          border-top: 0 none;
        }

        .radio{
          margin: 0;

          input[type="radio"]{
            margin-left: -30px;
            margin-top: 1px;
          }
        }

        label{
          padding-left: 25px;
        }


        .heading{
          color: #222;
          padding: 4px 8px;
          border-radius: 4px;
          background-color: rgba(255, 255, 255, 0);
          @include transition(color 300ms ease, background-color 300ms ease);
          display: inline-block;
          line-height: 1;

          h4, h5, h6{
            display: inline-block;
            margin: 0;
            padding: 0;
          }
        }

        .text{
          color: #777;
          margin-top: 5px;
          font-size: 12px;

          small.help-block{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin: 0;
          }
        }

        &.current{
          .heading{
            color: $white;
            background-color: #222;
          }
        }
      }
    }
  }



  .suggested-product{
    background-color: #f6f6f6;
    border: 1px solid #eee;
  }


  .coupon-box{
    background-color: #f6f6f6;

    form{
      input.form-control[type="text"]{
        height: 32px;
      }
    }
  }

}
