.cart-items{
  overflow: hidden;


  $item-bg: $smoke;

  .item{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: $item-bg;
    @include transition(background-color 300ms ease, transform 300ms ease);
    position: relative;
    @include transform(translate3d(0, 0, 0));


    .remove-item{
      position: absolute;
      width: 40px;
      top: 0;
      right: 100%;
      bottom: 0;
      text-align: center;
    }

    .item-box{
      display: inline-block;
      vertical-align: middle;
      padding-left: 15px;

      &:first-child{
        padding-left: 0;
      }
    }

    // image
    .item-image{
      width: 20%;
      display: inline-block;
      vertical-align: middle;
      text-align: center;

      img{
        max-height: 80px;
      }
    }


    // details
    .item-details{
      width: 50%;
      padding-left: 15px;

      // name
      .item-name{
        margin-top: 0;

        @media #{$xs}{
          font-size: 14px;
        }
      }

      .item-description{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #7a7a7a;
      }

      @media #{$xs}{
        width: 80%;
      }
    }

    // quantity
    .item-quantity{
      width: 15%;
      text-align: right;

      @media (max-width: 770px){
        width: 60%;
        text-align: center;
        padding-left: 0;
      }

      .quantity-input{
        $input-width: 50px;
        $btn-width: 16px;
        $input-height: 26px;

        width: $input-width + $btn-width;

        @media #{$xs}{
          width: $input-width + ($btn-width * 2);
        }

        input[type="text"], input[type="number"]{
          border: 1px solid #ccc;
          border-radius: 0;
          box-shadow: none;
          width: $input-width;
          height: $input-height;
          text-align: right;
          padding: 3px 8px;
          float: left;
        }

        .input-control{
          float: right;
          height: $input-height / 2;
          width: $btn-width;
          background-color: #ccc;
          color: $white;
          text-align: center;
          line-height: $input-height / 2;
          @include transition(background-color 300ms ease);
          @include unselectable;
          cursor: pointer;
          font-size: 13px;

          &:hover{
            background-color: #bbb;
          }

          @media #{$xs}{
            height: $input-height;
            // width: $btn-width * 2;
            line-height: $input-height;
            font-size: 16px;
          }
        }

        .increment{

        }
        .decrement{
          @media #{$xs} {
            float: left;
          }
        }
      }

      .save-quantity{
        opacity: 0;

        &.visible{
          opacity: 1;
        }

        @media #{$xs}{
          padding: 4px 8px;
          margin-top: 2px !important;
          float: left;
        }
      }
    }

    // total
    .item-total{
      width: 15%;
      text-align: right;
      font-size: 16px;
      line-height: 1;

      @media #{$xs}{
        width: 40%;
        margin-top: 10px;
        text-align: right;
        font-size: 14px;
        white-space: nowrap;
        @include transition(padding-right 300ms ease);
      }
    }


    // warnings
    .item-warnings, .item-errors{
      @include transition(padding-right 300ms ease);
      padding-right: 0;

      .alert{
        margin-top: 15px;
        margin-bottom: 0;
      }
    }


    .remove-item{
      padding-top: 25px;
      text-align: center;

      .remove-button{
        text-align: center;
        @include transform(rotate(0));
        @include transition(transform 300ms ease);

        &:hover{
          @include transform(rotate(90deg));
        }
      }

      i.fa{
        font-size: 24px;
        line-height: 1;
        color: $red;
      }
    }


    &:hover{
      @media #{$xs}{
        background-color: darken($item-bg, 5%);
        @include transform(translate3d(40px, 0, 0));

        .item-total{
          padding-right: 40px;
        }

        .item-warnings, .item-errors{
          padding-right: 40px;
        }
      }
    }

  }
}
