.cart-login{
  padding: 15px;
  background-color: #f6f6f6;
  border: 1px solid #ccc; 

  form{
    .form-control{
      margin-bottom: 0;
    }

    .field_with_errors{
      input{
        border-color: $input-border; // bootstrap's default
      }
    }
  }


  .field-container{
    @media #{$sm-down}{
      margin-top: 10px;
    }
  }
}