$popup-z-index: 20;
$popup-width: 250px;
$popup-images-width: 50px;
$color: theme-color('primary');

.add-cart-products-popup {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: $white;
  z-index: $popup-z-index;
  border: 1px solid $color;
  border-top: 6px solid $color;
  line-height: $line-height-base;
  font-size: $font-size-base;
  width: $popup-width;
  box-sizing: content-box;
  display: none;

  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: calc(100% + 5px);
    right: 10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent $color transparent;
    z-index: $popup-z-index;
  }

  .no-item {
    text-align: center;
    margin: 1rem;
    color: theme-color('danger');
    font-size: 12px;
  }

  ul {
    list-style: none;
    margin: 0 .5rem;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: $popup-width;

    li.product {
      padding: .5rem 0;
      margin: 0;

      a {
        text-decoration: none;
      }

      .product-thumb {
        width: $popup-images-width;
        float: left;

        img {
          width: $popup-images-width;
        }
      }

      .product-text {
        text-align: right;
        margin-left: $popup-images-width;
        font-size: 12px;
        color: $gray-900;

        b {
          display: block;
        }
      }

      + li.product {
        border-top: 1px solid theme-color('light');
      }

    }
  }

  .popup-footer {
    border-top: 1px solid theme-color('light');

    .total-items-price {
      font-size: 14px;
      font-weight: bold;
      padding: .5rem;
    }

    a {
      background: $green;
      color: white;
      text-decoration: none;
      display: block;
      text-align: right;
      padding: .5rem;
      font-size: 12px;
    }
  }
}
