
.cart-shipping{

  .hidden-shipping-fields{
    display: none !important;
  }

  label{
    width: 100%;
    padding: 0;
  }

  .list-group-item{
    padding: 0;

    .radio{
      margin: 0;
    }

    .list-group-item-heading{
      padding: 15px;
      display: block;
      background-color: $smoke;
      width: 100%;
      margin: 0;

      h5{
        margin-top: 3px;
        display: inline-block;
        color: #222;
      }

      input[type="radio"]{
        position: relative;
        display: inline-block;
        margin: 0 10px 0 0;
      }

    }
    .list-group-item-text{
      margin: 0;

      .padded{
        padding: 15px;
      }

      b{
        display: block;
      }

      p{
        margin: 0;
      }
    }
  }
}
