- if versions.size > 1
  .alternative-products.alternative-products-table
    .title= t('products.available_packages')

    %table.table
      - versions.each do |version|
        %tr
          %td= link_to version.name.gsub("#{version.v_name} - ", ''), product_path(version)
          %td.text-right= number_to_currency version.price_with_vat
          %td
            - if version.purchasable?
              = form_tag cart_add_product_path(product_id: version), remote: true, class: 'order-form', id: "product-#{version}" do
                = hidden_field_tag :redirect_url, "#{request.original_url}"
                .pull-left
                  = quantity_field_for version
                = submit_tag t('products.add_to_cart'), class: 'buy-btn', disabled: (version.availability == 'unavailable' ? true : false)

            - else
              .text-danger= t 'products.availability.unavailable'
