.alternative-products.alternative-products-dropdown
  %label= t('products.available_packages')

  .btn-group.product-variant-select{ role: 'group' }
    %button#btn-group-drop-1.btn.dropdown-toggle{ 'data-toggle' => 'dropdown', type: 'button', aria: { expanded: 'false', haspopup: 'true' } }
      = @product.name

      .dropdown-menu{ 'aria-labelledby' => 'btn-group-drop-1' }
        - versions.each do |version|
          = link_to version.name, product_path(id: version), class: 'dropdown-item'

- content_for :javascripts do
  :javascript
    // quick-fix for bootstrap's issue (?): wont open page when item clicked
    $('.product-variant-select .dropdown-item').click(function() {
      window.location.href = $(this).attr('href')
    })
