- img_size = '200x200#'

.product-image-container
  - if (images = @product.images.normals).count.to_i < 2
    - # only 1 image, don't need to activate slider
    - if images.present?
      .product-gallery
        = image_tag images.first.url('538x538'), href: images.first.url, class: 'img-fluid'

    - else
      .product-image
        = image_tag "https://via.placeholder.com/#{img_size}", href: 'https://via.placeholder.com/#{img_size}', class: 'img-fluid'

  - else
    - # vertical thumbnails
    - if options['product_thumbnail_direction'] == 'vertical'
      .vertical-thumbs
        = render 'image_thumbs', images: images

    .product-gallery-container
      .product-gallery.product-gallery-slider
        - images.each do |img|
          = image_tag img.url("#{img_size}#"), href: img.url

    - # horizontal thumbnails
    - if options['product_thumbnail_direction'] == 'horizontal'
      .horizontal-thumbs
        = render 'image_thumbs', images: images

    - content_for :javascripts do
      = javascript_include_tag 'jquery.bxslider.min'

      :javascript
        var mainImage;
        var mainImageOptions = {
          mode: 'fade',
          infiniteLoop: false,
          hideControlOnEnd: true,
          pager: false,
          controls: false,
          auto: false,
          minSlides: 1,
          maxSlides: 1,
          moveSlides: 1,
          adaptiveHeight: true,
          height: 400,
          onSliderLoad: function(currentIndex) {
            $('.product-gallery-slider').css('visibility', 'visible');
          }
        }

        $(window).load(function() {
          mainImage = $('.product-gallery-slider').bxSlider(mainImageOptions)

          $('.product-gallery-thumbs ul li').each(function() {
            $(this).click(function() {
              $(this).addClass('active').siblings().removeClass('active')
              mainImage.goToSlide($(this).index())
            })
          })

          $('.product-gallery-thumbs ul').bxSlider({
            infiniteLoop: false,
            hideControlOnEnd: true,
            pager: false,
            auto: false,
            minSlides: 4,
            maxSlides: 4,
            moveSlides: 1,
            slideWidth: '100%',
            mode: "#{options['product_thumbnail_direction']}",
            slideMargin: 10,
            onSliderLoad: function(currentIndex) {
              $('.product-gallery-thumbs ul li').eq(0).addClass('active')
              $('.product-gallery-thumbs').css('visibility', 'visible')
            }
          })

          if($(window).width() <= 767) {
            mobileImage = mainImage;
            mobileImage.destroySlider();
            mobileImage.bxSlider({
              mode: 'fade',
              captions: true,
              pager: true,
              slideWidth: 600,
              responsive: true,
              onSliderLoad: function(currentIndex) {
                $('.product-gallery-slider').css('visibility', 'visible');
              }
            })
          }
        })

        $(window).resize(function() {
          if($(window).innerWidth() <= 767) {
            mobileImage = mainImage;
            mobileImage.destroySlider();
            mobileImage.bxSlider({
              mode: 'fade',
              captions: true,
              pager: true,
              slideWidth: 600,
              onSliderLoad: function(currentIndex) {
                $('.product-gallery-slider').css('visibility', 'visible');
              }
            })
          } else {
            mainImage.destroySlider();
            mainImage.bxSlider(mainImageOptions);
          }
        });

  - content_for :javascripts do
    :javascript
      $('.product-gallery').magnificPopup({
        delegate: 'img',
        type: 'image',
        gallery: {
          enabled: true
        }
      })
