.share-product
  %span= t('products.share.title')

  = link_to "https://www.facebook.com/sharer/sharer.php?u=#{product_url(@product)}", target: :blank do
    %i.fa.fa-facebook

  = link_to "https://twitter.com/home?status=#{t 'products.share.buy', product: @product.name, url: product_url(@product)}", target: :blank do
    %i.fa.fa-twitter

  = link_to "https://plus.google.com/share?url=#{product_url(@product)}", target: :blank do
    %i.fa.fa-google-plus

  - # we will disable share to pinterest if image not available
  - if @product.images&.normals&.present?
    = link_to "https://pinterest.com/pin/create/button/?url=#{product_url(@product)}&media=#{@product.images.normals.first.url('1024x1024')}&description=#{t 'products.share.buy', product: @product.name, url: product_url(@product)}", target: :blank do
      %i.fa.fa-pinterest-p
