$('#total-item-price-<%= @product.id %>, #total-item-price-<%= @product.id %>-recap').text('<%= number_to_currency(@total_product_price) %>')
$('#shipping-price-<%= @product.id %>, #shippingprice-<%= @product.id %>-recap').text('<%= @shipping_price %>')
$('#total-price-<%= @product.id %>, #total-price-<%= @product.id %>-recap').text('<%= number_to_currency(@total_price) %>')
