- # tracking services
- if @trackings.present?
  - content_for :trackings do
    = @trackings.product(@product)

- # sets the product's meta tags
= render 'frontend/shared/meta_tags', product: @product

- content_for :main_content do
  - # for product image thumbnail
  -# .col-12.col-md-2

  - # product image

  .col-12.col-md-7
    = render 'images', options: @options

  - # product detail & form
  .col-12.col-md-5.mobile-spacer
    %h1.product-title= @product.name

    .sku
      = "#{t('products.code')}: #{@product.code}"
      %br
      = "#{t('products.ean')}: #{@product.ean}"

    .product-header
      - if @product.availability != 'available'
        .availability-badge{ class: "badge-#{@product.availability}" }
          %span= t "products.availability.#{@product.availability}"

      .price
        - # show list price if it present, alongside with the discount in percent
        - if @product.has_discount?
          .normal-price
            = number_to_currency @product.price_table.price_list
            %span.discount #{t 'products.discount', disc: @product.discount_percentage.to_s + "%" }

        .price-with-vat
          = number_to_currency @product.price_with_vat
          %small= t('include_vat')

        .price-without-vat
          = number_to_currency @product.price_without_vat
          = "+ #{t("vat_iva")}"

    .description.section
      = parse_content @product.description_short
      = parse_content @product.description

      - # product's video, if any
      = render('video') if @product.youtube_video.present?

    - if @product.purchasable?
      - if @product.on_request?
        - # ignore options['alternative_versions'] and force to use dropdown
        = render 'alternative_versions_dropdown', versions: @product.alternative_versions

      - else
        = form_tag cart_add_product_path(product_id: @product), remote: true, class: 'order-form' do
          .form-group.section
            - if delivery_day = CalculateDay.shipping_day(@product, { ecommerce: @current_ecommerce, only_date: true })
              .delivery-day #{t 'products.buy_now_to_get_item_delivered_at_html', date: l(delivery_day.to_date) }

            - if @product.qty < 1 && @product.date_arrival.present?
              .arrival-date= t 'products.arrived_at_html', date: l(@product.date_arrival.to_date)

            .product-in-cart-alert{ id: "product-in-cart-alert-#{@product.id}" }
              - if @current_cart.items.collect(&:product_id).include?(@product.id)
                = render 'frontend/products/in_cart_alert'

            = render("alternative_versions_#{@options['alternative_versions']}", versions: @product.alternative_versions) if @product.versions.size > 1

            = label_tag :"quantity-#{@product.id}", "#{t 'products.quantity'}:"

            .clearfix
              .pull-left
                = quantity_field_for @product

                = hidden_field_tag :redirect_url, "#{request.original_url}"

              .pull-right.total-item-price{ id: "total-item-price-#{@product.id}" }
                = number_to_currency(@product.min_purchase_qty * @product.price_with_vat)

            .shipping-cost
              .pull-left #{t 'products.shipping_cost'}:
              .pull-right.shipping-price
                - if !(free_shipping_at = @current_ecommerce.minimal_order_amount_for_free_delivery).zero?
                  %i.fa.fa-exclamation-circle{ title: "<i class='fa fa-truck'></i> #{t('products.free_shipping_for_purchase_over_html', total: number_to_currency(free_shipping_at)).html_safe}" }

                %span{ id: "shipping-price-#{@product.id}" }= number_to_currency(@product.extra_ship_price)

            .total-price-container
              .pull-left #{t 'products.total'}:
              .pull-right.total-price{ id: "total-price-#{@product.id}" }= number_to_currency((@product.min_purchase_qty * @product.price_with_vat) + @product.extra_ship_price)

            = submit_tag t('products.add_to_cart'), class: 'buy-btn', disabled: (@product.availability == 'unavailable' ? true : false)

    - else
      .unpurchasable-message= t 'products.not_available'

    - # product's share buttons
    = render 'share'

  - # display contact form if product is purchasable & status is on request
  - # sitemap for this must be present under products
  = render('contact') if @product.purchasable? && @product.on_request? && @sitemap.present?

  - # page components
  - if @sitemap.present?
    - @sitemap.children.where.not(layout: ['page', 'contact_form']).each do |box|
      = render "frontend/pages/parts/#{box.layout}", sitemap: box if box.layout.present?

- content_for :sidebar do
  sidebar

.container.section
  .row
    - if @options['use_sidebar'].to_s == 'true'
      .col-12.col-md-3
        = yield :sidebar

      .col-12.col-md-9
        .row
          = yield :content

    - else
      = yield :main_content

- content_for :javascripts do
  :javascript
    function countPrice() {
      $.ajax({
        url: "#{price_calc_products_path()}",
        data: {
          product_id: "#{@product.id}",
          quantity: $("#quantity-#{@product.id}").val()
        }
      })
    }

    $(window).load(function() {
      countPrice()
    })

    $("#quantity-#{@product.id}").change(function() {
      countPrice()
    });
