.add-cart-products-popup
  - if @current_cart&.products.present?
    %ul
      - @current_cart.products.each do |item|
        %li.product
          = link_to product_path(item.product), class: 'clearfix' do
            .product-thumb.pull-left
              - if item.product.present? && (imgs = item.product.images.normals).present?
                = image_tag(imgs.first.url('100'))

            .product-text
              = item.quantity
              = "x"
              = truncate(item.name, length: 28)
              %br
              %strong= number_to_currency(item.total_with_vat)

    .popup-footer
      .clearfix.total-items-price
        .pull-left= t 'total'
        .pull-right= number_to_currency @current_cart.total_with_vat

      = link_to t('custom_cart.go_to_cart'), cart_show_path

  - else
    .no-item= t 'custom_cart.no_item'

    .popup-footer
      = link_to t('custom_cart.go_to_cart'), cart_show_path
