-# cart items list
- if @current_cart.products.present?
  %ul.list-unstyled
    - @current_cart.products.each do |item|
      - product = item.product
      - product.account = current_account
      - # the cart-item-id is targeted by the remove action javascript that will fadeout that row on success
      %li.cart-recap-item{ class: "cart-item-#{item.id}" }
        .item-image
          - if product.present? && (images = product.images).present?
            = image_tag(images.first.url('150x150#'), class: 'img-fluid')

        .item-name= item.name

        .item-price
          %small= "(#{number_to_currency item.price_with_vat} x #{item.quantity})"
          = number_to_currency item.total_with_vat

- # we split between products & add-ons. make sure add-ons always shown in bottom
- if @current_cart.add_ons.present?
  %ul.list-unstyled
    - @current_cart.add_ons.each do |item|
      - product = item.product
      - product.account = current_account
      - # the cart-item-id is targeted by the remove action javascript that will fadeout that row on success
      %li.cart-recap-item{ class: "cart-item-#{item.id}" }
        .item-image
          - if product.present? && (images = product.images).present?
            = image_tag(images.first.url('150x150#'), class: 'img-fluid')
        .item-name= item.name

        .item-price
          %small= "(#{number_to_currency item.price_with_vat} x #{item.quantity})"
          = number_to_currency item.total_with_vat
