.payment-fields
  - @payments.each do |payment|
    - klass = ''
    - klass += ' current' if payment == @current_cart.payment
    - klass += ' with_error' if @current_cart.errors.include?(:payment) || @current_cart.errors.include?(:payment_id)

    .payment{ class: klass }
      .radio
        %label
          .payment-input= f.radio_button :payment_id, payment.id

          .payment-image
            - if payment.image.present?
              = image_tag(payment.image.url('80x40>'), class: 'img-fluid')

          .payment-details
            %h5
              = payment.name
              - if payment.price > 0.00
                %small= "(#{number_to_currency(payment.price)})"

            .details= payment.description_short
