- # this recap is shown twice in the page, once on sidebar and another once in mobile recap

- # Price without VAT
%dl
  %dt
    = t('total_products')
    = "(#{t('exclude_vat')})"

  %dd= number_to_currency @current_cart.total_products_without_vat

- # Shipping cost
%dl
  %dt
    = t('shipping_cost')
    = "(#{t('exclude_vat')})"

  %dd
    - # if the shipping cost is available, show either the "free shipping text" in case it's 0, or the amount
    - if @current_cart.shipping_price_without_vat.present?
      - if @current_cart.shipping_price_without_vat <= 0
        .text-success= t('free')
      - else
        = number_to_currency(@current_cart.shipping_price_without_vat)

    - else
      .text-warning= t('not_available')

- if @current_cart.payment.present? && @current_cart.payment.price > 0.0
  %dl
    %dt
      = t('payment')
      = "(#{t('exclude_vat')})"

    %dd
      = number_to_currency(@current_cart.payment.price_without_vat)

- # VAT
%dl
  %dt
    = t('vat_iva')
    - # takes the vats for each product, and keeps the unique values
    - vats = @current_cart.products.map{ |i| "#{i.vat}%" }.uniq.join(' - ')
    - if vats.present?
      = "(#{vats})"

  %dd= number_to_currency @current_cart.vat_price

- # Coupon
- if @current_cart.coupon.present?
  %dl
    %dt.text-success= t('coupon')
    %dd.text-success= number_to_currency(0 - @current_cart.coupon_value_with_vat)

%hr

- # Final price
%dl
  %dt
    = t('total')
    = "(#{t('include_vat')})"

  %dd= number_to_currency @current_cart.final_price
