// for now we don't use this file, but it has possibility for this to be used in
// the future so we will keep this for now.

// @import "utilities/bootstrap_variables";


// //////////////////////////////////
// //        DEFAULT MIXINS
// //////////////////////////////////

// $xs: "screen and (max-width: #{$screen-xs-max})";
// $sm: "screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max})";
// $sm-up: "screen and (min-width: #{$screen-sm-min})";
// $sm-down: "screen and (max-width: #{$screen-sm-max})";
// $md: "screen and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})";
// $md-up: "screen and (min-width: #{$screen-md-min})";
// $md-down: "screen and (max-width: #{$screen-md-max})";
// $lg: "screen and (min-width: #{$screen-lg-min})";


// $retina: "only screen and (-webkit-min-device-pixel-ratio: 2),
// only screen and (   min--moz-device-pixel-ratio: 2),
// only screen and (     -o-min-device-pixel-ratio: 2/1),
// only screen and (        min-device-pixel-ratio: 2),
// only screen and (                min-resolution: 192dpi),
// only screen and (                min-resolution: 2dppx)";



// @mixin font-face($font-family, $file-path, $font-weight, $font-style) {
//   @font-face {
//     font-family: $font-family;
//       src: url('#{$file-path}.eot');
//       src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
//            url('#{$file-path}.woff') format('woff'),
//            url('#{$file-path}.ttf') format('truetype'),
//            url('#{$file-path}.svg##{$font-family}') format('svg');
//     font-weight: $font-weight;
//     font-style: $font-style;
//   }
//   // Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/
//   @media screen and (-webkit-min-device-pixel-ratio: 0) {
//     @font-face {
//       font-family: $font-family;
//         src: url('#{$file-path}.svg##{$font-family}') format('svg');
//     }
//   }
// }


// @mixin transition($args...){
//   @if length($args) == 0 {
//     $args: all 300ms ease 0ms;
//   }
//   @include prefixes(transition, $args);
// }

// @mixin box-shadow($shadows...){
//   @include prefixes(box-shadow, $shadows);
// }

// @mixin prefixes($prop, $args...){
//   @each $prefix in -webkit, -moz, -ms, -o{
//     #{$prefix}-#{$prop}: $args;
//   }
//   #{$prop}: $args;
// }

// @mixin transform($args...){
//   @include prefixes(transform, $args);
// }


// @mixin unselectable{
//   @include prefixes(user-select, none);
// }
// @mixin selectable{
//   @include prefixes(user-select, auto);
// }

// @mixin background-cover{background-position: center center; background-size: cover; background-repeat: no-repeat;}

// // keyframes mixin
// @mixin keyframes($name) {
//   @-webkit-keyframes #{$name} {
//     @content;
//   }
//   @-moz-keyframes #{$name} {
//     @content;
//   }
//   @-ms-keyframes #{$name} {
//     @content;
//   }
//   @keyframes #{$name} {
//     @content;
//   }
// }



// // background gradient

// @function convert-angle($value, $unit) {
//   $convertable-units: deg grad turn rad;
//   $conversion-factors: 1 (10grad/9deg) (1turn/360deg) (3.1415926rad/180deg);
//   @if index($convertable-units, unit($value)) and index($convertable-units, $unit) {
//     @return $value
//              / nth($conversion-factors, index($convertable-units, unit($value)))
//              * nth($conversion-factors, index($convertable-units, $unit));
//   }

//   @warn "Cannot convert `#{unit($value)}` to `#{$unit}`.";
// }

// /// Test if `$value` is an angle
// /// @param {*} $value - Value to test
// /// @return {Bool}
// @function is-direction($value) {
//   $is-direction: index((to top, to top right, to right top, to right, to bottom right, to right bottom, to bottom, to bottom left, to left bottom, to left, to left top, to top left), $value);
//   $is-angle: type-of($value) == 'number' and index('deg' 'grad' 'turn' 'rad', unit($value));

//   @return $is-direction or $is-angle;
// }

// /// Convert a direction to legacy syntax
// /// @param {Keyword | Angle} $value - Value to convert
// /// @require {function} is-direction
// /// @require {function} convert-angle
// @function legacy-direction($value) {
//   @if is-direction($value) == false {
//     @warn "Cannot convert `#{$value}` to legacy syntax because it doesn't seem to be an angle or a direction";
//   }

//   $conversion-map: (
//     to top          : bottom,
//     to top right    : bottom left,
//     to right top    : left bottom,
//     to right        : left,
//     to bottom right : top left,
//     to right bottom : left top,
//     to bottom       : top,
//     to bottom left  : top right,
//     to left bottom  : right top,
//     to left         : right,
//     to left top     : right bottom,
//     to top left     : bottom right
//   );

//   @if map-has-key($conversion-map, $value) {
//     @return map-get($conversion-map, $value);
//   }

//   @return 90deg - convert-angle($value, 'deg');
// }

// /// Mixin printing a linear-gradient
// /// as well as a plain color fallback
// /// and the `-webkit-` prefixed declaration
// /// @access public
// /// @param {String | List | Angle} $direction - Linear gradient direction
// /// @param {Arglist} $color-stops - List of color-stops composing the gradient
// @mixin linear-gradient($direction, $color-stops...) {
//   @if is-direction($direction) == false {
//     $color-stops: ($direction, $color-stops);
//     $direction: 180deg;
//   }

//   background: nth(nth($color-stops, 1), 1);
//   background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
//   background: linear-gradient($direction, $color-stops);
// }


// @mixin collapse{
//   max-height: 0;
//   overflow: hidden;
//   padding: 0 !important;
//   @include transition(max-height 300ms cubic-bezier(.15,.89,.15,.9));
// }

// @mixin collapse-visible{
//   max-height: 999px;
//   @include transition(all 300ms cubic-bezier(.8,.18,.82,.24));
// }
