// This file contains the overrides for the bootstrap variables
// the complete list of variables can be found in the _boostrap_variables.scss file
//
// just type the variable that you want to override with the corresponding value
//
// $brand-primary: #191245;
//
// NOTE: don't use the keyword in the values, or they won't have effect over the bootstrap's defaults
//

$white:    #fff;
$smoke:    #f7f7f7;
$gray-001: #eaeaea;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #aaa;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #363839;
$gray-900: #282A2B;
$deep-dark: #222;
$black:     #000;


$grays: (
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900
);

$blue:          #2FAFB9;
$indigo:        #6610f2;
$purple:        #6f42c1;
$pink:          #e83e8c;
$red:           #e0001b;
$orange:        #fd7e14;
$yellow:        #ffc107;
$green:         #8DC744;
$dark-green:    #1ab394;
$teal:          #20c997;
$cyan:          #17a2b8;

$theme-colors: (
  primary: $gray-001,
  secondary: $gray-800,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  sky: $blue,
  light: $gray-100,
  light2: $gray-300,
  dark: $gray-900,
  graytext: $gray-500,
  black: $black
);

$link-color: theme-color('dark');
$link-hover-color: lighten($link-color, 35%);

$enable-rounded:            true;

// fonts
//
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-base:       $font-family-sans-serif;

$fonts : (
  primary: $font-family-base,
  title: join(Oswald, $font-family-base)
);

$spacer: 1rem;
$space2: 2rem;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
);

$grid-gutter-width: $spacer * 2;

$breadcrumb-padding-x: 0;
$breadcrumb-padding-y: .5rem;
$breadcrumb-bg: none;

$btn-link-disabled-color: transparent;
$btn-link-opacity: rgba(255, 255, 255, 0.3);

// Font assets
@font-face {
  font-family:'TitilliumWeb';
  src: asset-url('TitilliumWeb-SemiBold.ttf');

  font-family:'TitilliumWeb-Regular';
  src: asset-url('TitilliumWeb-Regular.ttf');

  font-family:'TitilliumWeb-Bold';
  src: asset-url('TitilliumWeb-Bold.ttf');

  font-family:'HelveticaLTStd-Light';
  src: asset-url('HelveticaLTStd-Light.otf');

  font-family:'HelveticaLTStd-BoldObl';
  src: asset-url('HelveticaLTStd-BoldObl.otf');
}






