- meta title: t("register_new"), description: t("register_new")

.container
  .row
    .col-12.col-lg-6.my-4
      %h4= t('register_new')

      = form_for(resource, as: resource_name, url: account_registration_path, html: {class: "form floating-labels"}) do |f|
        = devise_error_messages!

        - # email and password
        = render 'accounts/form_parts/email_pw_fields', form: f

        - # name and surname
        = render 'accounts/form_parts/name_surname_fields', form: f, vat_account: true

        - # address fields
        = render 'accounts/form_parts/address_fields', form: f

        - # general fields
        = render 'accounts/form_parts/company_general_fields', form: f

        - # registration policy
        = render 'accounts/form_parts/registration_policy', form: f

        .form-group
          = f.submit t('complete_registration'), class: 'submit-btn'

    / .col-12.col-sm-6
    /   %h4
    /     %i.fa.fa-industry
    /     = t('company_registration')
    /   %p= t('register_vat_account')

    /   = link_to t('click_here'), new_vat_account_registration_path, class: 'register-btn'
