-meta title: t("register_vat_account"), description: t("register_vat_account")

.container
  .row
    .col-12.col-md-6.float-right
      %h3
        %i.fa.fa-home
        =t("customer_registration")
      %p=t("register_new")
      =link_to new_account_registration_path, class: "btn btn-primary" do
        =t("click_here")


    .col-12.visible-xs
      %hr


    .col-12.col-md-6.float-left
      %h2
        %i.fa.fa-industry
        =t("register_vat_account")

      = form_for(resource, as: resource_name, url: vat_account_registration_path, html: {class: "form floating-labels"}) do |f|
        = devise_error_messages!



        -# email and password
        =render partial: "accounts/form_parts/email_pw_fields", locals: {form: f}

        -# general fields
        =render partial: "accounts/form_parts/company_general_fields", locals: {form: f}

        -# telephone
        =render partial: "accounts/form_parts/phone_fields", locals: {form: f}
        %hr

        -# address fields
        =render partial: "accounts/form_parts/address_fields", locals: {form: f}

        %hr
        -# legal rapresentant data
        =render partial: "accounts/form_parts/name_surname_fields", locals: {form: f, vat_account: true}


        -# policy acceptance
        =render partial: "accounts/form_parts/registration_policy", locals: {form: f}


        .form-group
          = f.submit t("complete_registration"), class: "btn btn-primary"



