// menu on the left of the account pages

$left-menu-bg: $smoke;
$left-menu-color: #999999;
$left-menu-hover-color: $brand-sky;
$left-menu-current-color: #333333;


.account-page{
  .hello-text{
    margin-bottom: 50px;
  }
}



.account-content, .account-menu{
  margin-top: 50px;
}

.account-menu{
  padding: 15px;
  background-color: $left-menu-bg;

  ul{

    li{
      margin: 8px 0;

      &.divider{
        height: 1px;
        background-color: darken($left-menu-bg, 10%);
      }

      a{
        color: $left-menu-color;
        padding-left: 0;
        @include transition;

        &:hover{
          color: $left-menu-hover-color;
          padding-left: 5px;
        }
      }

      i.fa{
        width: 25px;
        text-align: center;
      }


      &.current{
        a{
          color: $left-menu-current-color;

          &:hover{
            color: $left-menu-hover-color;
          }
        }
      }
    }

  }

}
