.faq-page{


  .question-box{
    margin-top: 25px;

    $icon-width: 34px;

    .faq-icon{
      width: $icon-width;
      font-size: 20px;
      text-align: center;
      float: left;
      margin: 0;
    }

    .question{
      h4{
        margin: 0 0 0 $icon-width;
      }
    }

    .answer{
      .message{
        margin-left: $icon-width;
      }
    }
  }
}