form{
  
  .email-pw{
    [class*="col-"]{
      float: none;
      display: inline-block;
      vertical-align: top;
    }

  }

}

.cfis-fields{
  .fiscal-code-gen{
    margin-bottom: 12px;
  }

  .cfis-errors{
    font-size: 12px;
  }
}