%p
  = t('hello')
  = @resource.email

%p= t('password_change_email')

%p= link_to t('change_password'), edit_password_url(@resource, reset_password_token: @token, locale: I18n.locale, host: ENV['HOST_WITH_PORT'])

%p= t('password_change_email_footer')
