-# this partial requires the following locals:
-# order: an Order instance

-if order.present? && (payment = order.payment).present?
  -if payment.code.blank?
    %h3=t("payment_method")
    %p
      %b=t("perform_the_following_instructions")
    %p=simple_format(payment.note)    

  -else
    =raw form_payment_tag_for(order, payment)

    %h2=payment.name
    
    %button#submit-payment-form.btn.btn-success{type: "submit", form: "payment-form", value: "submit"}
      %i.fa.fa-credit-card.mr-1
      =t("conclude_payment")



    -content_for :javascripts do
      -# this submit via javascript exists only because IE and EDGE don't support the button "form" attribute
      :javascript
        (function(){
          var $paymentForm = $("form#payment-form");
          if ( $paymentForm.length ){
            $("#submit-payment-form").click(function(e){
              e.preventDefault();
              $paymentForm.submit();
            })
          }
        }());
