-# this partial requires the following locals:
-# order => an Order instance
-# compact => Boolean, this is used to style the price recap

-compact = true if local_assigns[:compact].nil?

-if order.present? && order.is_a?(Order)
  
  .order-recap-box
    %dl{class: ("dl-horizontal" if compact)}

      -# total products
      %dt="#{t("total_products")} (#{t("exclude_vat")}):"
      %dd=number_to_currency(order.sub_total_without_vat)

      -# delivery
      %dt="#{t("shipping")} (#{t("exclude_vat")}):"
      %dd
        -if order.free_delivery?
          =t("free")
        - else
          =number_to_currency(order.delivery_price_without_vat)

      -# vat
      -if order.with_vat
        %dt="#{t("vat_iva")} (#{number_to_percentage(order.vat, precision: 0)}):"
        %dd=number_to_currency(order.total_vat)

      -# coupon
      -if order.cupon_price != 0 && !order.cupon_price.blank?
        %dt="#{t("coupon")}:"
        %dd="- "+number_to_currency(order.with_vat ? order.cupon_price : order.cupon_price_without_vat)
  
      -# total
      %dt=order.with_vat ? "#{t("total")} #{t("include_vat")}:" : "#{t("total")} #{t("exclude_vat")}:"
      %dd=number_to_currency(order.with_vat ? order.total : order.total_without_vat)
    