-# name and surname
.name-surname-fields
  .form-group.row>
    .col-12.col-sm-6
      = f.label :name, t("name_surname")
      = f.text_field :name, class: "form-control", autocomplete: "given-name", placeholder: t("name_surname")
-# =render partial: "accounts/form_parts/name_surname_fields", locals: {form: f, vat_account: @current_account.vat_customer?}

-# address fields
=render partial: "accounts/form_parts/address_fields", locals: {form: f}

-# telephone
.phone-fields
  %small.help-block
    =raw t("type_your_phone_numner_personal_data")
  .form-group.row>
    .col-4.col-sm-2.prefix-col>
      = f.select :telephone_prefix, telephone_prefixes, {}, class: "form-control prefix"
    .col-8.col-sm-4.phone-col>
      = f.label :telephone
      = f.telephone_field :telephone, class: "form-control", autocomplete: "tel", placeholder: true


-# notes
.shipping-notes
  .form-group.row>
    .col-12>
      = f.label :note, t("delivery_note")
      = f.text_area :note, class: "form-control", placeholder: t("delivery_note"), rows: 4
