
-if @address.new_record?
  -form_url = accounts_shipping_addresses_path
  -page_title = t("new_shipping_address")
-else
  -form_url = accounts_shipping_address_path(@address)
  -page_title = t("edit_shipping_address")


-meta title: page_title, description: page_title


=account_panel do
  %h2
    =page_title

  =form_for @address, url: form_url, html: {class: "form floating-labels"} do |f|
    =error_messages_for(@address)
    -if flash[:shipping_address_success].present?
      =flash_success( flash[:shipping_address_success] )

    =render partial: "accounts/shipping_addresses/shipping_fields", locals: {f: f}
    .form-group
      = f.submit t("save_changes"), class: "btn btn-primary"

  -# destroy address
  -if !@address.new_record?
    .row.m-0
      .mt-5

      #confirm-destroy-address.collapse.col-12.p-0.my-3
        .p-3.bg-danger
          =form_for @address, url: accounts_shipping_address_path(id: @address), method: :delete do
            .mr-3.mb-3.help-block
              %i.fa.fa-warning.mr-1
              =t("delete_shipping_address_warning")
            %button{type: "submit", class: "btn btn-danger"}
              %i.fa.fa-trash.mr-1
              =t("delete_shipping_address_final")

      .my-3
        %button{class: "btn btn-default", type: "button", "data-toggle" => "collapse", "data-target" => "#confirm-destroy-address"}
          %i.fa.fa-caret-up.mr-1
          =t("delete_shipping_address")



      .mb-3
