- meta title: t("shipping_addresses"), description: t("shipping_addresses")

= account_panel do
  %h2
    =t("shipping_addresses")

  .my-4
    =link_to new_accounts_shipping_address_path, class: "btn btn-primary" do
      %i.fa.fa-plus.mr-1
      =t("new_shipping_address")

  .my-4
    -if @addresses.present?
      .list-group
        -@addresses.each do |address|
          -is_default = address == @current_account.default_shipping_address
          .list-group-item
            .row
              .col-12.col-sm-6
                -if is_default
                  %span.label.label-success
                    =t("default_shipping_address")
                %h5=address.name
                %p.pre-line<
                  =address.to_text
                -if address.note.present?
                  %small.help-block
                    =address.note

              .col-12.col-sm-6.text-right
                .my-2
                  =form_for address, url: set_as_default_accounts_shipping_address_path(id: address) do |f|
                    %button.btn.btn-success.btn-sm{type: "submit"}
                      =t("set_as_default_shipping_address")
                .my-2
                  =link_to edit_accounts_shipping_address_path(id: address), class: "btn btn-primary btn-sm" do
                    =t("edit_data")

    - else
      %p= t('no_shipping_addresses')
