- # ============================================================================
- # Structure of page
- #
- # 1) banner with images, not by children
- # 2) breadcrumbs
- # 3) text with long and short description
- # 4) images aside/bottom of text
- #
- # the standard page has this predefined structure,
- # please change it according to your needs
- # ============================================================================


- # tracking services
- if @trackings.present?
  - content_for :trackings do
    = @trackings.page

- if @page.present?
  - # meta tags
  = render 'frontend/shared/meta_tags', sitemap: @page

  = render 'frontend/pages/parts/page_content', sitemap: @page

  - # page components
  - @page.children.where.not(layout: 'page').each do |box|
    - if ['full_width_banner', 'full_screen_banner', 'banner'].include?box.layout
      - # render 'banner' for all kind of banners
      = render 'frontend/pages/parts/banner', sitemap: box
    - else
      = render "frontend/pages/parts/#{box.layout}", sitemap: box if box.layout.present?
