-# devise uses the flash[:alert] in case of failed login
-# this will display the error messages
%h3= t 'login'

- if flash[:alert].present?
  .alert.alert-danger.alert-dismissable{ role: 'alert' }
    %button.close{ type: 'button', data: { dismiss: 'alert' }, aria: { hidden: 'true' } }
      &times;
    = flash[:alert]

- if flash[:notice].present?
  .alert.alert-info.alert-dismissable{ role: 'alert' }
    %button.close{ type: 'button', data: { dismiss: 'alert' }, aria: { hidden: 'true' } }
      &times;
    = flash[:notice]

-# login form
.cart-login
  %h5= raw t('already_member')

  = form_for(resource, as: resource_name, namespace: 'login', url: cart_sessions_create_path, html: { class: 'form floating-labels' }) do |f|
    .row
      .field-container.col.col-sm-6.col-md-4
        = f.email_field :email, autofocus: true, class: 'form-control', placeholder: true, value: ''

      .field-container.col.col-sm-6.col-md-4
        = f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: true

      .col.col-md-4
        = f.submit t('make_login'), class: 'submit-btn'

      .col
        = link_to t('password_lost'), new_password_path(resource_name)

%hr
