

-# register form
= form_for(resource, as: resource_name, namespace: "register", url: cart_registrations_create_customer_path, html: {class: "form floating-labels"}) do |f|
  = devise_error_messages!

  - if flash[:account_success].present?
    = flash_success(flash[:account_success])

  %h5
    = t('company_registration')
    = t('register_vat_account')
    = link_to t('click_here'), cart_registrations_login_or_register_vat_path, class: 'register-btn'

  - # email and password
  = render 'accounts/form_parts/email_pw_fields', form: f

  - # name and surname
  = render 'accounts/form_parts/name_surname_fields', form: f, vat_account: resource.vat_customer?

  %hr
  - # address fields
  = render 'accounts/form_parts/address_fields', form: f

  - # fiscal code
  = render 'accounts/form_parts/cfis_fields', form: f

  - # telephone
  = render 'accounts/form_parts/phone_fields', form: f

  %hr
  %h4= t('additional_informations')
  - # additional informations
  = render 'accounts/form_parts/additional_informations_fields', form: f

  - # policy acceptance
  = render 'accounts/form_parts/registration_policy', form: f

  .action-buttons
    = f.submit t('complete_registration'), class: 'submit-btn'
