= form_for(resource, as: resource_name, namespace: "register_vat", url: cart_registrations_create_vat_account_path, html: {class: "form floating-labels"}) do |f|
  = devise_error_messages!

  %h5
    = t('customer_registration')
    = t("register_new")
    = link_to cart_registrations_login_or_register_path, class: 'register-btn' do
      = t("click_here")

  - # email and password
  = render 'accounts/form_parts/email_pw_fields', form: f

  - # general fields
  = render 'accounts/form_parts/company_general_fields', form: f

  - # telephone
  = render 'accounts/form_parts/phone_fields', form: f
  %hr

  - # address fields
  = render 'accounts/form_parts/address_fields', form: f

  %hr
  - # legal rapresentant data
  = render 'accounts/form_parts/name_surname_fields', form: f, vat_account: true


  - # policy acceptance
  = render 'accounts/form_parts/registration_policy', form: f


  .action-buttons
    = f.submit t('complete_registration'), class: 'submit-btn'
