- meta title: t("cart"), description: t("login_or_register")

= cart_panel do
  = render 'frontend/cart/registrations/login'

  %h3
    = t('register')
    %small= t('register_vat_account')

  = render 'frontend/cart/registrations/register_vat'

  - content_for :javascripts do
    = javascript_include_tag 'forms/address_fields', 'forms/fiscal_code_calc'
