.account-page {
  .hello-text {
    border-bottom: 1px solid theme-color('light');
    font-size: 14px;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    line-height: 1;
  }

  .account-menu {
    li {

      a {
        text-decoration: none;
        line-height: 2;
        display: block;
        color: $gray-700;

        &:hover {
          color: theme-color('dark');
        }

        i {
          width: 24px;
          text-align: center;
        }
      }

      &.current {
        a {
          color: theme-color('info');
        }
      }

      &.divider {
        border-bottom: 1px solid theme-color('light');
        margin-top: .5rem;
        margin-bottom: .5rem;
      }
    }
  }

  h3 {
    font-size: 1.5rem;
    border-bottom: 1px solid theme-color('light');
    text-align: center;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
}
