////////////////////////////////////////////////////////////////////////////////
/// banner & additional rules for royal slider
////////////////////////////////////////////////////////////////////////////////

.fullscreen-banner-container {
  position: relative;

  .royalSlider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
  }
}

.banner {

  .slide-link {
    @extend .mt-4;

    a {
      @extend .btn;
      @extend .btn-secondary;
      @extend .text-center;

      font-size: 27px;
      font-family: font('title');
      width: 190px;
      background: $btn-link-opacity;
      border-radius: 0;
      border-color: $white;
      text-transform: uppercase;

      @media (max-width: 986px) {
        font-size: 24px;
        width: 130px;
      }
    }
  }
}

.slide-content {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

  @media (max-width: 440px) {
    text-align: center !important;
  }

  @media (min-width: 440px) and (max-width: 584px) {
    left: 50px;
  }

  @media (min-width: 585px) and (max-width: 627px) {
    left: 50px;
  }

  @media (min-width: 768px) and (max-width: 805px) {
    margin-left: 50px;
  }

  @media (min-width: 992px) and (max-width: 1082px) {
    left: 50px;
  }

  & {
    color: $white;
    text-shadow: 0 0 3px rgba(black, .25)
  }

  > * {
    flex: none
  }

  h2 {
    @extend .display-4;
    font-family: font('title');
    margin-bottom: 0;
    text-transform: uppercase;

    + * {
      margin-top: 5px;
    }

    @media (max-width: 986px) {
      font-size: 35px;
    }
  }

  h4 {
    @extend .mt-2;
    margin-bottom: 0;
    font-size: 18px;

    @media (max-width: 986px) {
      font-size: 15px;
    }

    + * {
      margin-top: 1rem;
    }
  }
}

.rsOverflow {
  z-index: 10
}

.rsArrow {
  z-index: 20;
  top: 50%;
  width: 48px;
  height: 48px;
  position: absolute;
  transition: all .5s;
  font-family: FontAwesome;
  text-align: center;
  display: block;
  color: $white;
  opacity: .5;

  &:before {
    display: block;
    line-height: 1;
    font-size: 48px;
  }

  &:hover {
    opacity: 1
  }

  &.rsHidden {
    opacity: 0
  }

  &.rsArrowLeft {
    left: 12px;

    @media (max-width: 450px) {
      display: none;
    }

    &:before {
      content: '\f104';
    }

    &.rsHidden {
      transform: translate(-24px)
    }
  }

  &.rsArrowRight {
    right: 12px;

    @media (max-width: 450px) {
      display: none;
    }

    &:before {
      content: '\f105';
    }

    &.rsHidden {
      transform: translate(24px)
    }
  }
}

.rsBullets {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  transition: none;
  z-index: 15;
  padding: 12px 0;

  .rsBullet {
    display: inline-block;

    span {
      display: block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: $white;
      cursor: pointer;
    }

    &.rsNavSelected {
      span {
        background: theme-color('danger')
      }
    }

    + .rsBullet {
      margin-left: 6px
    }
  }
}


