// content of this file are in temporary order.

html {
  /* Adjust font size */
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font variant */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

// body {
//   background-color: #f5f5f5;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: font('title');
  font-weight: 450;
  // text-transform: uppercase;
}

p:last-child {
  margin-bottom: 0;
}

.section {
  @extend .my-5;
}

*[title] {
  cursor: pointer;
}

// standard page content, using in (almost) all page layouts
.page-content {
  .header-image-container {
    @extend .py-4;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @media (max-width: 767px) {
      background-image: none !important;
      background-size: 300px 100px;
      height: 150px;
      margin-top: -30px;
    }

    .header-content {
      padding: 5rem;

      h2 {
        @extend .mt-0;
        color: $white;

        @media (max-width: 767px) {
          color: $gray-900;
        }

        @media (max-width: 425px) {
          font-size: 26px;
        }

        + h3 {
          @extend .mb-3
        }
      }
    }
  }

  .title {
    @extend .text-center;
    @extend .mt-5;
    @extend .pt-5;

    .title-icon {
      @extend .mb-3;
    }

    h2 {
      @extend .mb-5;
      margin-top: 5rem;
      font-family: font('title');
      text-transform: uppercase;
      font-size: 40px;
      width: 100%;
      text-align: center;
      border-bottom: 2px solid $gray-200;
      line-height: 0.1em;
      margin: 10px 0 20px;

      @media (max-width: 770px) {
        margin-top: 30px;
        font-size: 28px;
      }

      @media (max-width: 350px) {
        font-size: 23px;
        white-space: normal;
        // overflow: scroll;
      }

      span {
        background:#fff;
        padding:0 10px;
      }
    }

    h3 {
      @extend .mt-3;
      @extend .mb-0;
      font-size: 1.25em;
    }

    .date {
      font-style: italic;
      @extend .mt-3;
      color: theme-color('dark');
    }
  }

  .content {
    @extend .mt-4;
    p {
      @extend .text-justify;
    }
  }
}

.image-links {
  a {
    text-decoration: none;

    // image as background
    .link-bg-container {
      position: relative;
      border: 1px solid $gray-300;

      &:hover {
        transition: all .50s;
        opacity: 0.8;
        filter: alpha(opacity=50);
      }

      @media (max-width: 767px) {
        margin-bottom: 20px;
      }

      .image-container {
        position: relative;
        z-index: 1;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          display: block;
          background-color: rgba(0, 0, 0, 0.5);
        }
      }

      .link-content {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        overflow: auto;
        font-family: font('title');

        h4 {
          @extend .d-block;
          font-size: 24px;
          color: $white;

          @media only screen and (min-width: 768px) and (max-width: 991px) {
            font-size: 19px;
          }

          span {
            display: block;
            font-size: 32px;
          }
        }

        p {
          @extend .d-block;
          font-size: 39px;
          color: $white;

          @media only screen and (min-width: 768px) and (max-width: 991px) {
            font-size: 30px;
          }
        }
      }
    }

    // image as normal image
    .link-container {

      @media (max-width: 767px) {
        margin-bottom: 45px;
      }
      .image-container {
        // width: auto;
        // height: 200px;
        img {
          width: 100%;
        }
      }

      .link-content {
        h4 {
          margin-top: 1.25rem;
          margin-bottom: 1rem;
          font-size: 1.3em;
          font-weight: 400;
        }
      }
    }
  }
}

// breadcrumb
.breadcrumb-container {
  @extend .pt-5;
  text-transform: uppercase;

  @media (max-width: 767px) {
    display: none;
  }

  .breadcrumb {
    @extend .mb-3;
    @extend .rounded-0;
    border-bottom: 1px solid $gray-200;
    font-size: 17px;

    li {
      color: theme-color('graytext');

      @media (max-width: 575px) {
        font-size: 15px;
      }

      a {
        color: theme-color('secondary');
        text-decoration: none;

        @media (max-width: 575px) {
          font-size: 15px;
        }

        &:hover {
          color: theme-color('greytext');
        }
      }

      ~ li {
        margin-left: $spacer / 2
      }
    }
  }
}

// number fields
.input-group {
  .number-down,
  .number-up {
    cursor: pointer;
  }

  input[type="number"] {
    width: 64px;

    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
}

.content-image {
  img {
    @extend .img-fluid
  }
}

.video-player {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;

  > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.span-green {
  color: $green;
}

.map-container {
  padding-bottom: 35%;
  position: relative;

  @media (max-width: 991px) {
    padding-bottom: 45%;
  }

  @media (max-width: 767px) {
    padding-bottom: 70%;
    margin-top: 30px;
  }

  @media (max-width: 460px) {
    padding-bottom: 85%;
  }

  @media (max-width: 380px) {
    padding-bottom: 95%;
  }

  @media (max-width: 325px) {
    padding-bottom: 110%;
  }

  #map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 380px;
  }
}

h2 {
  &.category-title {
    @extend .ml-4;
    font-family: font('title');
    font-size: 29px;

    @media (max-width: 767px) {
      text-align: center;
    }

    @media (max-width: 481px) {
      font-size: 26px;
    }
  }
}

// hide ISP's injected iframe ads
.ui-helper-hidden-accessible + iframe {
  display: none;
}

.banner.royalSlider {
  @media (max-width: 600px) {
    height: 250px;
  }
}

.rsOverflow {

}

.product-image-container {
  @media (max-width: 991px) {
    margin-bottom: 25px;
  }
}

.rsSlide {
  background: $gray-100;
}

.rsNav.rsThumbs.rsThumbsHor {
  background: $gray-200;
}

.space-mobile {
  @media (max-width: 767px) {
    margin-top: 2rem;
  }
}

////////////////////////////////////////////////////////////////////////////////
/// Page Content For Outside Homepage
////////////////////////////////////////////////////////////////////////////////

// Product Categories
.categories-rightop {
  @extend .mb-5;

  .page-content {
    .header-image-container {
      @extend .py-4;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;

      @media (max-width: 767px) {
        background-image: none !important;
        background-size: 300px 100px;
        height: 150px;
        margin-top: -30px;
      }

      .header-content {
        padding: 5rem;
        // width: 100%;
        // display: block;

        h2 {
          @extend .mt-0;
          color: $white;
          display: block;

          @media (max-width: 767px) {
            color: $gray-900;
          }

          @media (max-width: 425px) {
            font-size: 23px;
            width: 100%;
            max-width: 400px;
          }

          + h3 {
            @extend .mb-3
          }
        }
      }
    }

    .title {
      @extend .text-center;
      // @extend .mt-5;
      @extend .pt-0;

      .title-icon {
        @extend .mb-3;
      }

      h2 {
        @extend .mb-5;
        // margin-top: 5rem;
        font-family: font('title');
        text-transform: uppercase;
        font-size: 40px;
        width: 100%;
        text-align: center;
        border-bottom: 0px solid $gray-200;
        line-height: 0.1em;
        margin: 10px 0 20px;

        @media (max-width: 770px) {
          margin-top: 30px;
          font-size: 35px;
        }

        span {
          background:#fff;
          padding:0 10px;
        }
      }

      h3 {
        @extend .mt-3;
        @extend .mb-0;
        font-size: 1.25em;
      }

      .date {
        font-style: italic;
        @extend .mt-3;
        color: theme-color('dark');
      }
    }

    .content {
      @extend .mt-4;
      p {
        @extend .text-justify;
      }
    }
  }
}

// Contact Form
.contact-leftside {
  .page-content {
    .header-image-container {
      @extend .py-4;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;

      @media (max-width: 767px) {
        background-image: none !important;
        background-size: 300px 100px;
        height: 150px;
        margin-top: -30px;
      }

      .header-content {
        padding: 5rem;

        h2 {
          @extend .mt-0;
          color: $white;

          @media (max-width: 767px) {
            color: $gray-900;
          }

          @media (max-width: 425px) {
            font-size: 26px;
          }

          + h3 {
            @extend .mb-3
          }
        }
      }
    }

    .title {
      @extend .text-center;
      @extend .mt-5;
      @extend .pt-5;

      .title-icon {
        @extend .mb-3;
      }

      h2 {
        @extend .mb-5;
        margin-top: 5rem;
        font-family: font('title');
        text-transform: uppercase;
        font-size: 40px;
        width: 100%;
        text-align: center;
        border-bottom: 0px solid $gray-200;
        line-height: 0.1em;
        margin: 10px 0 20px;

        @media (max-width: 770px) {
          margin-top: 30px;
          font-size: 35px;
        }

        span {
          background:#fff;
          padding:0 10px;
        }
      }

      h3 {
        @extend .mt-3;
        @extend .mb-0;
        font-size: 1.25em;
      }

      .date {
        font-style: italic;
        @extend .mt-3;
        color: theme-color('dark');
      }
    }

    .content {
      @extend .mt-4;
      p {
        @extend .text-justify;
      }
    }
  }
}
