.cart-page {
  @extend .my-4;
  margin-bottom: 3rem;

  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  h4 {
    margin-bottom: 1rem;
    font-size: 1.25rem;

    @media (max-width: 991px) {
      // text-align: center;
    }
  }

  h5 {
    text-transform: none;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  .rightbar {
    @extend .d-none;
    @extend .d-sm-block;
  }

  .cart-items {
    .item {
      @extend .clearfix;
      @extend .mb-4;
      position: relative;
      padding: 2rem 0;

      .item-detail {
        @extend .clearfix;
        position: relative;
      }

      .item-box {
        float: left;
        box-sizing: border-box;

        + .item-box {
          padding-left: 1rem;
        }
      }

      .item-image {
        width: 15%;
        min-height: 1px;

        @media (max-width: 991px) {
          width: 18%;
        }

        @media (max-width: 430px) {
          width: 25%;
        }

        img {
          @extend .img-fluid;
        }
      }

      .item-details {
        width: 40%;

        @media (max-width: 991px) {
          width: 60%;
        }

        .item-name {
          font-size: 15px;
        }

        .item-description {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: darken(theme-color('light'), 25%);
        }
      }

      .item-quantity {
        float: right;
        text-align: right;
        zoom: .75;
        line-height: 42px;

        @media (max-width: 991px) {
          clear: both;
          display: block;
          margin-top: 30px;
          float: left;
        }

        @media (max-width: 425px) {
          zoom: .925;
        }

        @media (max-width: 375px) {
          zoom: .775;
        }

        @media (max-width: 320px) {
          zoom: .7;
        }

        > div {
          float: left;

          + div {
            margin-left: 1rem;
          }
        }

        .item-total {
          font-weight: bold;
        }
      }

      .item-actions {
        position: absolute;
        right: 0;
        bottom: 0;

        @media (max-width: 991px) {
          top: 10.3rem;
        }

        @media only screen and (min-width: 576px) and (max-width: 767px) {
          top: 10rem;
        }

        @media (max-width: 425px) {
          top: 10rem;
        }

        @media (max-width: 375px) {
          top: 8.8rem;
        }

        @media (max-width: 320px) {
          display: none;
        }

        a {
          color: theme-color('danger');
          font-size: 14px;
          text-transform: lowercase;

          &:hover {
            color: darken(theme-color('danger'), 10%);
            text-decoration: none;
          }
        }
      }

      .item-actions-mobile {
        position: absolute;
        right: 0;
        bottom: .5rem;
        display: none;

        @media (max-width: 320px) {
          display: inline-block;
          top: 7.45rem;
        }

        a {
          color: theme-color('danger');
          font-size: 14px;
          text-transform: lowercase;
          display: block;

          &:hover {
            color: darken(theme-color('danger'), 10%);
            text-decoration: none;
          }
        }
      }

      ~ .item {
        // border-top: 1px solid theme-color('light');
      }

      .item-warnings,
      .item-errors {
        .alert {
          font-size: 12px;
          padding: .5rem 1rem;
          margin: .5rem 0 0;
        }
      }
    }

    + hr {
      margin: 2rem 0;
    }

    .total-recap-left {
      display: none;

      @media (max-width: 575px) {
        display: block;
      }
    }
  }

  hr.line-cart {
    border: 2px solid $green;
  }

  .payment-fields {
    .payment {
      transition: all .2s;
      opacity: .5;

      .radio {
        label {
          @extend .clearfix;
          padding: 1rem 0;
          margin: 0;
          display: block;
          cursor: pointer;

          .payment-input {
            float: left;
            width: 24px;
            text-align: right;
          }

          .payment-image {
            float: left;
            width: 48px;
            margin-left: 1rem;
          }

          .payment-details {
            float: left;
            margin-left: 1rem;

            h5 {
              font-size: 1.25rem;
            }

            .details {
              height: 0;
              overflow: hidden;
              transition: all .2s;
              font-size: 14px;
            }
          }
        }
      }

      &.current {
        opacity: 1;

        .radio {
          label {
            .payment-details {
              .details {
                height: auto;
              }
            }
          }
        }
      }

      + .payment {
        border-top: 1px solid theme-color('light');
      }
    }
  }

  .right-products {
    background: lighten(theme-color('light'), 5%);
    border: 1px solid theme-color('light');
    padding: 1rem;

    ul {
      margin: -.5rem 0 0;

      li {
        @extend .clearfix;
        font-size: 12px;
        padding: .5rem 0;

        .item-image {
          float: left;
          width: 11%;
          min-height: 1px;
        }

        .item-name {
          float: left;
          width: 59%;
          padding: 0 1rem;
        }

        .item-price {
          float: left;
          width: 30%;
          text-align: right;
          font-weight: bold;

          small {
            display: block;
            font-weight: normal;
            font-size: 12px;
          }
        }
      }

      + hr {
        margin-top: 0;
      }
    }

    dl {
      @extend .clearfix;
      font-size: 14px;
      margin-bottom: 0;

      dt {
        float: left;
      }

      dd {
        float: right;
        margin-bottom: 0;
      }

      + dl {
        margin-top: 1em;
      }
    }
  }

  .add-ons {
    background: lighten(theme-color('light'), 5%);
    border: 1px solid theme-color('light');
    padding: 1rem;

    ul {
      list-style: none;
      padding: 0;
      margin: -1rem 0;

      li {
        padding: 1rem 0;

        .check-box {
          label {
            display: block;
            margin: 0;

            .add-on-input {
              float: left;
            }

            .add-on-details {
              margin-left: 36px;

              .add-on-image {
                float: left;

                img {
                  display: block;
                }
              }

              .details {
                margin-left: 60px;

                h5 {
                  margin: 0 0 1rem;
                }
              }
            }
          }
        }

        + li {
          border-top: 1px solid theme-color('light');
        }
      }
    }
  }
}

.fiscal-code-gen {
  @extend .btn;
  @extend .btn-sky;
}

.register-btn {
  @extend .btn;
  @extend .btn-secondary;
  @extend .btn-sm;
}
