////////////////////////////////////////////////////////////////////////////////
/// global form components
////////////////////////////////////////////////////////////////////////////////

input,
button {
  &[type="submit"] {
    cursor: pointer;
  }
}

.back-btn {
  @extend .btn;
  @extend .btn-light;
}

.submit-btn {
  @extend .btn;
  @extend .btn-success;
  color: $white;
}

.btn-loading {
  background-image: url('/images/loading.svg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50% 50%;
  cursor: default !important;
  color: transparent !important;
}

.action-buttons {
  // text-align: center;

  .back-btn,
  .submit-btn {
    @extend .d-inline-block;
  }
}

.input-group {
  .input-group-prepend,
  .input-group-append {
    .input-group-text {
      user-select: none;
    }
  }
}

.help-block {
  display: block;
  line-height: 1.25;
  margin-top: .5rem;
  color: darken(theme-color('light'), 50%);
}

form {
  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  h4 {
    margin-bottom: 1rem;
    font-size: 1.25rem;

    @media (max-width: 770px) {
      font-size: 1.10rem;
    }

  }

  p {
    margin-bottom: 1rem;
    font-size: 14px;
    line-height: 1.25;
  }

  hr {
    margin: 2rem 0;
  }

  .action-buttons {
    margin-top: 3rem;
  }
}

#new_account {

  a {
    @extend .text-sky;
    @extend .mb-5;
  }

  input[type=submit] {
    @extend .btn;
    @extend .btn-success;
    @extend .btn-block;
    color: $white;

    @media (max-width: 767px) {
      display: block;
      width: 100%;
    }
  }

  // &.form.floating-labels {
  //   input.form-control {
  //     @media (max-width: 767px) {
  //       display: block;
  //       width: 100%;
  //     }
  //   }
  // }
}

a.back-login {
  @extend .text-sky;
}

a.register-btn {
  @media (max-width: 767px) {
    display: block;
    width: 100%;
  }
}


////////////////////////////////////////////////////////////////////////////////
/// subscription form
////////////////////////////////////////////////////////////////////////////////

.subscription-form {
  margin-top: 6rem;
  // background: lighten(theme-color('dark'), 40%);
  background: url(asset_path('vape-background.jpg')) no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(255,255,255, 0.2);
    z-index: -1;
  }

  + .footer {
    margin-top: 0;
  }

  *:not(input) {
    color: white;
  }

  .subscription-form-container {
    @extend .p-5;

    .title {
      @extend .text-center;

      h4 {
        @extend .m-0;
        // color: $dark;
        font-size: 1.8em;
        font-weight: 400;

        @media (max-width: 425px) {
        font-size: 1.4em;
        }
      }
    }

    .field {
      @extend .text-center;
      @extend .pt-3;

      .form-group {
        @extend .px-1;
        display: inline-block;
        font-family: $font-family-sans-serif;

        @media (max-width: 767px) {
          display: block;
        }

        .submit-btn {
          @extend .btn;
          @extend .btn-primary;
          @extend .d-block;
          @extend .px-4;

          @media (max-width: 767px) {
            width: 100%;
          }
        }
      }
    }

    .privacy-agreement {
      @extend .d-block;
      text-align: center;

      @media (max-width: 409px) {
        text-align: left;
        margin-left: 5px;
      }

        #contact_privacy {
        @media (max-width: 767px) {
          margin-right: 5px;
        }
      }

      label.check-label {
        @extend .m-0;
        display: inline;
        // color: $dark;


        a {
          color: darken(theme-color('primary'), 10%);
        }
      }
    }
  }
}


////////////////////////////////////////////////////////////////////////////////
/// contact form
////////////////////////////////////////////////////////////////////////////////
.form-contact-left {
  p {
    @extend .text-center;
    @extend .pt-3;
  }
}

.form-contact-right {
  padding-top: 30px;

  @media (max-width: 991px) {
    padding-top: 0;
  }

  button.submit-btn {
    width: 130px;
    float: right;

    @media (max-width: 991px) {
      float: none;
      display: block;
      width: 100%;

    }
  }

  @media (max-width: 767px) {
  }
}

.contact-container {
  .privacy-agreement {
    input[type="checkbox"] {
      float: left;
      width: 24px;
      height: 24px;

      + label {
        margin-left: 24px;
        display: block;
      }
    }
  }
}


////////////////////////////////////////////////////////////////////////////////
/// quickfix for bootstrap's bug (?) on input-group-addon border-radius over
/// input-group-sm class
////////////////////////////////////////////////////////////////////////////////

.input-group {
  .number-down {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .number-up {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}
