.mobile-nav {
  background: linear-gradient(to right, #f3f3f3, #f5f5f5);
  padding: .5rem;
  text-align: center;
  position: relative;

  .mobile-nav-toggler {
    position: absolute;
    left: .5rem;
    z-index: 999;
    width: 24px;
    height: 16px;
    cursor: pointer;
    margin: 22px 10px 10px 10px;
    transition: all .2s ease-in-out;

    span {
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -1px;
      width: 24px;
      height: 2px;
      background: theme-color('secondary');
      transform-origin: 50% 50%;
      transition: all .2s ease-in-out;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      background: theme-color('secondary');
      width: 24px;
      height: 2px;
      left: 0;
      transition: all .2s ease-in-out;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }

    &.active {
      position: fixed;
      margin-left: 5px;

      span {
        transform: translate3d(24px, 0, 0);
        opacity: 0;
      }

      &:before {
        transform: translate3d(0, 7px, 0) rotateZ(-45deg);
      }

      &:after {
        transform: translate3d(0, -7px, 0) rotateZ(45deg);
      }
    }
  }

  .main-logo {
    @extend .mt-1;
    @extend .mb-0;
    margin: 0 auto;

    img {
      // height: 36px;
    }
  }

  .cart-icon {
    position: absolute;
    right: .5rem;
    top: .5rem;
    margin: 14px 6px 6px 6px;

    .nav-link {
      padding: 0;
    }

    .cart-counter {
      @extend .badge-danger
    }
  }
}

.mobile-nav-overlay {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 70%;
  background: $gray-200;
  overflow: auto;
  z-index: 99;
  padding: 1rem;
  padding-left: 2rem;
  padding-top: calc(36px + 1rem);

  .lang-switcher-mobile {
    @extend .d-block;
    @extend .clearfix;

    li {
      float: left;
      padding-right: $spacer;

      a {
        padding-top: 2px;
        padding-bottom: 2px;

        img {
          @extend .d-block;
          transition: all .2s;
          filter: grayscale(100%);
          height: 24px;
        }

        &:hover {
          img {
            filter: grayscale(0%);
          }
        }
      }

      &.active {
        a {
          img {
            filter: grayscale(0%);
          }
        }
      }
    }
  }

  hr {
    background: theme-color('secondary');
  }

  h5.text-light.filter-title {
    text-decoration: underline;
  }

  ul {
    list-style: none;
    padding-left: 1rem;

    li {
      a {
        color: $dark;
        padding: .25rem 0;
        display: block;
      }
    }
  }

  .sidebar-list {
    list-style: none;

    li {
      a {
        &.selected {
          color: theme-color('primary');
          &:before {
            color: theme-color('primary');
          }
        }
      }
    }
  }
}

body {
  &.mobile-nav-opened {
    overflow: hidden;
  }
}


