////////////////////////////////////////////////////////////////////////////////
/// general header
////////////////////////////////////////////////////////////////////////////////

#main-header {
  @extend .clearfix;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 1px solid $gray-200;
  box-shadow: 5px 10px #f5f5f5;

  .nav {
    // float: left;
    margin-left: 3rem;

    .nav-content {
      .nav-link {
        font-family: font('title');
        font-weight: 400;
        text-transform: uppercase;
        line-height: 47px;
        // background: #f5f5f5;
        // border: 2px solid $gray-200;
        // border-radius: 25px;
        // color: $white;
      }

      + .nav-content {
        margin-left: 1rem;
      }
    }
  }
}

.header {
  // @extend .bg-black;

  &.header-sticky {
    position: sticky;
    top: 0;
    z-index: 16;
  }
}


////////////////////////////////////////////////////////////////////////////////
/// top navbar
////////////////////////////////////////////////////////////////////////////////

nav.top-navbar {
  @extend .navbar;
  @extend .navbar-expand-lg;
  // @extend .bg-light;
  @extend .d-none;
  @extend .d-md-block;
  @extend .bg-primary;
  @extend .clearfix;
  background: linear-gradient(to right, #f3f3f3, #f5f5f5);
  border-top: 1px solid $gray-500;
  font-size: 14px;

  .nav-item {
    .nav-link {
      &:hover {
        // color: rgba(white, .75);
      }
    }
  }

  .call-btn {
    @extend .btn;
    @extend .btn-info;
    @extend .btn-sm;
  }

  .cart-counter {
    @extend .badge-dark;
    @extend .rounded-circle;
    padding-left: 0;
    padding-right: 0;
    font-size: 11px;
    line-height: 13px;
    min-width: 18px;
    text-align: center;
  }

  .navbar-nav-left {
    @extend .float-left;
    color: $dark;
    line-height: 28px;
    font-family: font('title');
    text-transform: uppercase;

    strong {
      color: $green;
    }
  }

  .navbar-nav-right {
    @extend .float-right;
    font-family: font('title');
    text-transform: uppercase;

    li {
      position: relative;
      // &:after {
      //   content: '';
      //   position: absolute;
      //   right: 0px;
      //   left: 25%;
      //   width: 50%;
      //   border-right: 1px solid #0000CC;
      // }
    }

    i {
      &.nav-link {
        position: relative;
        color: $dark;
        left: 10px;
      }
    }

    .account-nav {
      @extend .float-sm-left;

      .nav-item {
        .nav-link {
          line-height: 28px;
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }

    .lang-switcher {
      @extend .d-block;
      @extend .float-sm-left;

      li {
        float: left;

        a {
          padding-top: 2px;
          padding-bottom: 2px;

          img {
            @extend .d-block;
            transition: all .2s;
            filter: grayscale(100%);
            height: 24px;
          }

          &:hover {
            img {
              filter: grayscale(0%)
            }
          }
        }

        &.active {
          a {
            img {
              filter: grayscale(0%)
            }
          }
        }
      }
    }
  }
}


////////////////////////////////////////////////////////////////////////////////
/// superfish nav
////////////////////////////////////////////////////////////////////////////////

.sf-js-enabled {
  font-size: 22px;
  margin: 0 50px;

  li.nav-content {
    position: relative;
    padding-right: $spacer;

    ul {
      position: absolute;
      list-style: none;
      width: 100%;
      margin: 0;
      padding: 0;
      z-index: 20;

      li {
        position: relative;
        padding: ($spacer / 2) $spacer;


        a {
          display: block;
          white-space: nowrap;
          text-decoration: none;
        }
      }
    }

    > ul {
      li {
        ul {
          left: calc(100% + 2px);
          top: 0
        }
      }
    }
  }
}

.sf-with-ul {

  &:after {
    font-family: FontAwesome;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    content: "\f103";
  }
}

.sfHover {
  ul {
    // @extend .text-center;
    background-color: $white;
    font-size: 17px;
  }
}


////////////////////////////////////////////////////////////////////////////////
/// logo
////////////////////////////////////////////////////////////////////////////////

.main-logo {
  float: left;
  margin-top: 5px;

  @media (max-width: 991px) {
    float: none;
  }
}
