.pagination {
  text-align: center;
  list-style: none;
  padding: 2rem 0;

  .page-item {
    display: inline-block;
    list-style: none;

    .page-link {
      display: block;
      line-height: 36px;
      width: 36px;
      text-align: center;
      border-radius: 50%;
      text-decoration: none;
      color: theme-color('graytext');

      &:hover {
        background: theme-color('graytext');
        color: $white
      }
    }

    &.active {
      .page-link {
        background: theme-color('graytext');
        color: $dark;
      }
    }

    + .page-item {
      margin-left: .5rem
    }
  }
}
