.payment-fields{

  .payment{
    border-top: 1px solid #eee;

    &:first-child{
      border-top: 0 none;
    }

    label{
      padding-left: 0;
    }

    .radio{
      margin: 0;
    }

    .payment-input{
      float: left;
      width: 30px;
      padding-top: 3px;

      input[type="radio"]{
        position: relative;
        margin: 0;
      }
    }

    .payment-image{
      width: 80px;
      float: left;
      opacity: 0.7;
    }

    .payment-details{
      margin-left: 140px;
      color: #777;

      h4, h5, h6{
        color: #222;
        display: inline-block;
      }

      .details{
        @include collapse;
      }


      // on mobile, the description is 100% width
      @media #{$xs}{
        .details{
          margin-left: -140px;
          margin-top: 25px;
        }
      }
    }

    // payments with error
    &.with_error{
      .payment-details{
        h4, h5, h6{
          color: $brand-danger;
        }
      }
    }


    // selected payment
    &.current{
      .payment-image{
        opacity: 1;
      }


      .payment-details{
        h4, h5, h6{
          color: $white;
          background-color: #222;
          padding: 4px 8px;
          border-radius: 4px;

          small{
            color: #ccc;
          }
        }

        .details{
          @include collapse-visible;
        }
      }
    }
  }

}
