/** VARIABLES
===================================*/
/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
  position: relative;
  // margin-bottom: 60px;
  padding: 0;
  *zoom: 1;
  touch-action: pan-y;
}

.bx-wrapper img {
  max-width: 100%;
  display: block;
}

.bxslider {
  margin: 0;
  padding: 0;
}

ul.bxslider {
  list-style: none;
}

.bx-viewport {
  /* fix other elements on the page moving (in Chrome) */
  -webkit-transform: translateZ(0);
}


/** THEME
===================================*/

.bx-wrapper {
  .bx-pager,
  .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%;
  }

  /* LOADER */
  .bx-loading {
    min-height: 50px;
    background: image-url('loading.svg') center center no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
  }

  /* PAGER */
  .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px;

    &.bx-default-pager a {
      background: #666;
      text-indent: -9999px;
      display: block;
      width: 10px;
      height: 10px;
      margin: 0 5px;
      outline: 0;
      border-radius: 5px;

      &:hover,
      &.active,
      &:focus {
        background: #000;
      }
    }
  }

  .bx-pager-item,
  .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    vertical-align: bottom;
    *zoom: 1;
    *display: inline;
  }

  .bx-pager-item {
    font-size: 0;
    line-height: 0;
  }

  /* DIRECTION CONTROLS (NEXT / PREV) */
  .bx-prev {
    left: 10px;
    background: image-url('controls.png') no-repeat 0 -32px;

    &:hover,
    &:focus {
      background-position: 0 0;
    }
  }

  .bx-next {
    right: 10px;
    background: image-url('controls.png') no-repeat -43px -32px;

    &:hover,
    &:focus {
      background-position: -43px 0;
    }
  }

  .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 3;

    &.disabled {
      display: none;
    }
  }

  /* AUTO CONTROLS (START / STOP) */
  .bx-controls-auto {
    text-align: center;

    .bx-start {
      display: block;
      text-indent: -9999px;
      width: 10px;
      height: 11px;
      outline: 0;
      background: image-url('controls.png') -86px -11px no-repeat;
      margin: 0 3px;

      &:hover,
      &.active,
      &:focus {
        background-position: -86px 0;
      }
    }

    .bx-stop {
      display: block;
      text-indent: -9999px;
      width: 9px;
      height: 11px;
      outline: 0;
      background: image-url('controls.png') -86px -44px no-repeat;
      margin: 0 3px;

      &:hover,
      &.active,
      &:focus {
        background-position: -86px -33px;
      }
    }
  }

  /* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
  .bx-controls.bx-has-controls-auto.bx-has-pager {
    .bx-pager {
      text-align: left;
      width: 80%;
    }

    .bx-controls-auto {
      right: 0;
      width: 35px;
    }
  }

// <<<<<<< HEAD
// .bx-wrapper .bx-caption span {
//   color: $white;
//   font-family: Arial;
//   display: block;
//   font-size: .85em;
//   padding: 10px;
// =======

  /* IMAGE CAPTIONS */
  .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666;
    background: rgba(80, 80, 80, 0.75);
    width: 100%;

    span {
      color: #fff;
      font-family: Arial;
      display: block;
      font-size: .85em;
      padding: 10px;
    }
  }
}


////////////////////////////////////////////////////////////////////////////////
// custom for lipsiaecommerce
////////////////////////////////////////////////////////////////////////////////

.product-gallery img {
  @extend .mx-auto;
  cursor: zoom-in;
}

.product-gallery-thumbs {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transition: all .2s;
        z-index: 2;
        border: 0 solid theme-color('primary');
      }

      img {
        cursor: pointer;
        position: relative;
        z-index: 1;
        opacity: .75;
        transition: all .2s;
      }

      &.active {
        &:before {
          border: 5px solid theme-color('primary');
        }

        img {
          opacity: 1
        }
      }

      &:hover {
        img {
          opacity: 1
        }
      }
    }
  }
}

// vertical thumbs
.vertical-thumbs {
  float: left;

  @media (max-width: 767px) {
    display: none;
    float: none;
  }

  .bx-wrapper {
    .bx-controls-direction {
      a {
        top: 100%;
        margin-top: 16px;

        &.bx-next {
          right: 0
        }

        &.bx-prev {
          left: 0
        }
      }
    }
  }

  + .product-gallery-container {
    margin-left: 120px;

    @media (max-width: 767px) {
      margin-left: 0;
    }
  }
}

// horizontal gallery container
.product-gallery-container {
  + .horizontal-thumbs {
    margin-top: 20px;

    .bx-wrapper {
      margin-left: 38px;

      .bx-viewport {

      }

      .product-gallery {
          margin: auto 0;
        img {
          margin: auto 0;
        }
      }

      .bx-controls-direction {
        a {
          &.bx-next {
            right: -38px
          }

          &.bx-prev {
            left: -38px
          }
        }
      }
    }
  }
}

.product-gallery-slider,
.product-gallery-thumbs {
  visibility: hidden;
}
