////////////////////////////////////////////////////////////////////////////////
/// global products
////////////////////////////////////////////////////////////////////////////////

.product-in-cart-alert div {
  @extend .alert;
  @extend .alert-danger;
  font-size: 14px;
}


////////////////////////////////////////////////////////////////////////////////
/// product availability badges
////////////////////////////////////////////////////////////////////////////////

.availability-badge {
  span {
    @extend .p-2;
    line-height: 1;
    color: $white;
  }

  &.badge-preorder {
    span {
      @extend .bg-success;
    }

    &:after {
      border-color: darken(theme-color('success'), 10%) transparent transparent transparent;
    }
  }

  &.badge-restocking {
    span {
      @extend .bg-warning;
    }

    &:after {
      border-color: darken(theme-color('warning'), 10%) transparent transparent transparent;
    }
  }

  &.badge-unavailable {
    span {
      @extend .bg-danger;
    }

    &:after {
      border-color: darken(theme-color('danger'), 10%) transparent transparent transparent;
    }
  }
}


////////////////////////////////////////////////////////////////////////////////
/// product detail page
////////////////////////////////////////////////////////////////////////////////
.bx-viewport {
  @extend .d-block;
  @extend .mx-auto;

  .product-gallery {
    @extend .mx-auto;
    img {
      position: relative !important;
      @extend .mx-auto;
      width: 350px !important;
    }
  }
}
.products-show {
  .product-image {
    border: 2px solid $gray-200;

    img {
      cursor: pointer;
    }

    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  h1 {
    @extend .mb-1;
    font-size: 1.75em;
    text-align: left;
  }

  .sku {
    @extend .text-left;
    @extend .mb-3;
    font-size: .9em;
  }

  .product-header {
    text-align: center;

    .availability-badge {
      @extend .text-left;
      span {
        @extend .mb-3;
        @extend .badge;
        @extend .badge-pill;
      }
    }

    .price {
      font-weight: bold;
      font-size: 1.5em;
      color: theme-color('danger');
      text-align: left;

      .normal-price {
        font-weight: 400;
        font-size: 1rem;
        text-decoration: line-through;
        color: $black;

        .discount {
          text-decoration: none;
          display: inline-block;
          color: theme-color('danger');
        }
      }

      .price-with-vat {
        small {
          color: theme-color('dark');
          font-size: .75em
        }
      }

      .price-without-vat {
        color: theme-color('dark');
        font-size: .75em;
      }
    }
  }

  .quantity-input {
    @extend .text-right
  }

  .total-item-price {
    line-height: 38px;
  }

  .shipping-cost {
    @extend .py-2;
    @extend .d-block;
    @extend .mb-4;
    clear: both;

    .fa {
      color: theme-color('danger')
    }
  }

  .delivery-day {
    @extend .my-3;

    strong {
      color: theme-color('danger');
    }
  }

  .total-price-container {
    @extend .d-block;
    @extend .pt-2;
    clear: both;
    line-height: 2rem;
    border-top: 1px solid $gray-500;

    .total-price {
      font-size: 1.5em
    }
  }

  .alternative-products-dropdown {
    @extend .my-3;

    label {
      @extend .d-block;
      color: $deep-dark;
      opacity: .8;

      &:after {
        content: " : ";
      }
    }

    .product-variant-select {
      clear: both;
      max-width: 100%;

      .dropdown-menu {
        background: $gray-300;

        &:hover {
          background: $gray-400;
        }

        a.dropdown-item {
          white-space: normal;

          @media (max-width: 480px) {
            font-size: 15px;
          }

          &:hover {
            background: none;
          }
          &:active {
            color: $deep-dark;
          }
        }
      }

      button {
        @extend .btn-success;
        // overflow: hidden;
        max-width: 100%;
        // font-size: 2vw;
        white-space: normal;

        @media (max-width: 480px) {
          font-size: 15px;
        }
      }
    }
  }

  .alternative-products-table {
    @extend .mt-5;

    .title {
      font-weight: 700;
      margin-bottom: .5rem;
    }

    .buy-btn {
      @extend .pull-left;
      @extend .btn-lg;
    }

    .input-group {
      @extend .input-group-sm;
      @extend .mb-3;
    }

    table {
      line-height: 31px
    }
  }

  .buy-btn {
    @extend .btn;
    @extend .btn-success;
    @extend .mt-5;
    @extend .btn-block;
    color: $white;
    font-family: Ubuntu;
    text-transform: uppercase;
    border-radius: 0;
  }

  .arrival-date,
  .unpurchasable-message,
  .free-shipping-note {
    @extend .alert;
    text-align: center;
    font-size: 14px;
  }

  .product-in-cart-alert {
    text-align: center;

  }

  .arrival-date,
  .unpurchasable-message {
    @extend .alert-danger;
  }

  .free-shipping-note {
    @extend .alert-primary;
  }

  .share-product {
    @extend .my-5;
    text-align: center;
    font-size: 19px;

    @media (max-width: 430px) {
      font-size: 17px;
    }

    span {
      opacity: .75;

      @media (min-width: 992px) and (max-width: 1199px) {
        display: block;
      }

      @media (max-width: 430px) {
        display: block;
      }
    }

    a {
      color: theme-color('secondary');
      font-weight: bold;
      text-decoration: none;
      margin-left: 1rem;
      transition: opacity .2s;
      opacity: .6;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.product-gallery-thumbs {
  img {
    cursor: pointer;

    &.active {
      border-bottom: 7px solid $deep-dark;
    }
  }
}

.mobile-spacer {
  @media (max-width: 767px) {
    margin-top: 70px;
  }

  .description {
    p:nth-child(1) {
      font-size: 18px;
      color: $gray-700;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
/// product list (card), same displays across all pages
////////////////////////////////////////////////////////////////////////////////

.product-list-card {
  margin-top: $spacer * -1;
  margin-bottom: $spacer * -1;

  .product-card {
    @extend .my-3;
    // border: 0 !important;
    border: 2px solid $smoke;
    max-width: 100%;

    &:after {
      position: absolute;
      left: -2px;
      right: -2px;
      bottom: -2px;
      height: 0;
      content: '';
      transition: all .2s;
    }

    &:hover {
      &:after {
        background: $green;
        height: 1rem;
      }
    }

    .card-img-top {
      // in case you need padding, container below  will maintain image ratio
      // padding: .5rem .5rem 0;
      padding: .5rem;
      width: auto;
      height: auto;

      .image-container {
        position: relative;

        img {
          left: 0;
          top: 0;
          display: block;
          margin: 0 auto;
        }
      }
    }

    .discount-badge {
      position: absolute;
      left: .25rem;
      top: .25rem;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      background: image-url('discount-badge.svg') 50% no-repeat;
      background-size: cover;
      color: $white;
      font-size: 12px;
      font-weight: 700;
      text-align: center;
      line-height: 48px;
      pointer-events: none;
      z-index: 2;
      transform: rotate(15deg);
    }

    .availability-badge {
      right: -8px;
      top: 8px;
      pointer-events: none;
      position: absolute;
      z-index: 2;

      span {
        position: relative;
        z-index: 2;
        display: block;
        font-size: 12px;
        line-height: 1;
        box-shadow: -1px 1px 3px rgba(black, .35);
        border-radius: 4px 4px 0 4px;
      }

      &:after {
        position: absolute;
        display: block;
        content: '';
        width: 0;
        height: 0;
        top: 28px;
        right: 0;
        border-style: solid;
        border-width: 8px 8px 0 0;
        z-index: -1;
      }
    }

    .card-body {
      @extend .text-center;
      @extend .p-3;


      hr {
        @extend .my-2;
      }

      .product-name {
        @extend .mt-2;
        color: $deep-dark;
        font-family: font('title');
        text-transform: uppercase;
        font-weight: 400;
        font-size: 16px;

        @media screen and (min-width: 768px) and (max-width:991px) {
          font-size: 15px;
        }
      }

      .product-price {
        @extend .my-3;

        .original-price {
          text-decoration: line-through;
          color: $dark;

          + .price {
            @extend .pl-3;
          }
        }

        .price {
          @extend .text-black;
          font-size: 15px;
          font-weight: 400;

          @media screen and (min-width: 768px) and (max-width:991px) {
            font-size: 13px;
          }
        }
      }

      .product-sku {
        @extend .mb-0;
        @extend .mt-2;
        font-size: .75em;
        color: $gray-600;
        font-family: font('primary');

        @media screen and (min-width: 768px) and (max-width:991px) {
          margin-top: 15px;
        }
      }
    }

    h3 {
      height: 2.4em;
      line-height: 1.2em;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    h3,
    h4,
    h5,
    h6 {
      font-size: 1em;
    }

    &:hover {
      text-decoration: none;
    }

    &.with-rollover-image {
      .first-image {
        z-index: 2;
        transition: all 1s;
      }

      .second-image {
        z-index: 1;
      }

      &:hover {
        .first-image {
          opacity: 0;
        }
      }
    }
  }
}

h3.child-title {
  padding-top: 2.8rem;
  padding-bottom: 2.4rem;

  @media (max-width: 767px) {
    text-align: center;
  }
}

////////////////////////////////////////////////////////////////////////////////
/// product embedded on pages other than product detail
////////////////////////////////////////////////////////////////////////////////

.embed-product {
  @extend .text-left;
  @extend .my-5;
  @extend .pt-4;

  &:last-of-type {
    @extend .mb-0;
  }

  h2 {
    @extend .mb-3;
    font-size: 1.75em;
    color: theme-color('secondary');


    a {
      border-bottom: 1px solid theme-color('light');
      text-decoration: none;

      &:hover {
        border-bottom-color: theme-color('graytext');
      }
    }
  }

  p {
    @extend .mt-4;
    color: $gray-600;
  }

  .product-image {
    a {
      img {
        @extend .d-block;
        margin: 0 auto;

        @media (max-width: 767px) {
          max-width: 80%;
        }
      }
    }

    @media (max-width: 767px) {
      margin-bottom: 25px;
    }
  }

  .price {
    @extend .mb-4;
    font-family: font('title');

    .price-with-vat {
      color: theme-color('success');
      font-size: 1.25em;

      small {
        color: black;
      }
    }

    .price-without-vat {
      color: $gray-500;
    }
  }

  .description {
    @extend .my-4;
    color: $gray-600;
  }

  .input-group {
    @extend .input-group-sm;

    .quantity-input {
      @extend .text-right;
    }
  }

  .embed-btn {
    @extend .btn;
    @extend .btn-secondary;
    @extend .text-center;
    font-family: font('title');
    font-size: 24px;
    color: $gray-600;
    background: $white;
    border-radius: 0;
    border-color: $gray-500;
    padding: .15em 2em .25em 2em;
    text-transform: uppercase;

    @media (max-width: 770px) {
      font-size: 15px;
    }
  }

  .buy-btn {
    @extend .pull-left;
    @extend .btn-primary;
    @extend .btn-sm;
    @extend .ml-3;
  }

  .embed-content {
    @media (max-width: 430px) {
      text-align: center;
    }
  }
}
