.scrollup {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: fixed;
  bottom: 80px;
  right: 30px;
  display: none;
  z-index: 9999;
  background-color: theme-color('secondary');
  text-align: center;
  transition: all .2s;

  @media (max-width: 767px) {
    width: 38px;
    height: 38px;
    bottom: 100px;
    right: 15px;
  }

  &:hover,
  &:active {
    background-color: theme-color('black');
  }

  .fa {
    font-size: 25px;
    color: white;
    line-height: 46px;

    @media (max-width: 767px) {
    font-size: 20px;
    line-height: 36px;
    }
  }
}
