.leftbar {
  text-transform: uppercase;
  @media (max-width: 767px) {
    display: none;
  }
  .sidebar-widget {
    .sidebar-title {
      @extend .font-weight-bold;
      @extend .my-3;

        @media (max-width: 481px) {
        font-size: 18px;
      }
    }



    .sidebar-list {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        color: $gray-900;
        a {
          color: $gray-900;

          &.selected {
            color: theme-color('success');
            &:before {
              color: theme-color('success');
            }
          }
        }
      }


      &.category-list {
        li {
          a {
            display: block;
            padding: 0 1rem;
            position: relative;
            line-height: 30px;
            text-decoration: none;
            color: $gray-900;

            @media (max-width: 536px) {
              font-size: 15px;
            }

            &:before {
              content: "\f054";
              font-family: FontAwesome;
              font-style: normal;
              font-weight: normal;
              font-size: .6em;
              text-decoration: inherit;
              position: absolute;
              color: theme-color('dark');
              top: 8px;
              left: 0;
              bottom: 8px;
              z-index: 1;
              line-height: 16px;
              width: 16px;
              transition: transform .2s;
              text-align: center;
            }

            &.active {
              &:before {
                transform: rotate(90deg);
              }
            }

            &.selected {
              color: theme-color('success');
              &:before {
                color: theme-color('success');
              }
            }
          }
        }

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          margin-left: 1rem;
          display: none;
        }
      }
    }

    + .sidebar-widget {
      margin-top: 1rem;
      padding-top: 1rem;
      border-top: 1px solid theme-color('light');
    }
  }
}

.sidebar-title-mobile {
  @extend .my-1;

  @media (max-width: 481px) {
    font-size: 17px;
  }
}
