.footer {
  background-color: #6d6c6c;
  margin-top: 3rem;

  * {
    color: theme-color('light');

    a:hover {
      color: white;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
/// upper footer
////////////////////////////////////////////////////////////////////////////////
.upper-footer {
  @extend .py-5;

  .footer-section {
    + .footer-section {
      @extend .pt-3;
      @extend .pt-md-0;
    }

    @media (max-width: 987px) {
      margin-bottom: 10px;
    }
  }

  img {
    @extend .mb-4;
    @extend .pb-4;
    margin: 0 auto !important;

    @media (max-width: 767px) {
      display: block;
      width: 120px;
      margin-top: 20px;
    }
  }

  h4 {
    @extend .mb-2;
    font-size: 1.13em;

      @media (max-width: 770px) {

    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      font-size: 15px;

      a {
        color: $gray-400;

        &:hover {
        text-decoration: none;
        color: $green;
        }
      }
    }
  }

  .social-media-links {
    li {
      font-size: 25px;
      display: inline-block;

       @media (max-width: 1198px) {
        font-size: 22px;
      }

      a {
        @extend .pr-3;
        border-radius: 0;
        color: $white;
        text-align: center;
        display: block;

        @media (max-width: 1198px) {
        padding-right: 5px;
      }

        i:hover {
          color: $green;
        }
      }


      + li {
        @extend .ml-1;
      }
    }
  }
}


////////////////////////////////////////////////////////////////////////////////
/// main footer
////////////////////////////////////////////////////////////////////////////////

#site-footer {
  @extend .py-3;
  background-color: #6d6c6c;
  border-top: 2px solid $gray-001;

  .copyright {
    a + a {
      &:before {
        @extend .pr-1;
        content: '\2022';
        display: inline-block;
        pointer-events: none;
        color: $white;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
/// cookies consent popup on the bottom of page
////////////////////////////////////////////////////////////////////////////////

#cookies-message {
  @extend .fixed-bottom;
  @extend .p-3;
  line-height: 1;
  background-image: linear-gradient(5deg, theme-color('primary'), theme-color('dark'));

  a {
    @extend .btn-secondary;
    @extend .text-center;
    background: $btn-link-opacity;
    border-color: $white;
  }
}
