

// // editable variables
// $menu-breakpoint: $screen-xs-max;
// $menu-z-index: 10000;
// $menu-height: 80px;


// // general mobile styling
// $menu-mobile-height: 50px !default;
// $sandwitch-height: 20px !default;
// $sandwitch-width: 30px !default;
// $sandwitch-color: $brand-primary;
// $menu-mobile-background: #333;
// $offcanvas-menu-width: 240px;
// $offcanvas-menu-bg: #fff;

// // static vars
// $menu-mobile: "screen and (max-width: #{$menu-breakpoint})";
// $menu-desktop: "screen and (min-width: #{$menu-breakpoint + 1px})";
// $sandwitch-margin: ($sandwitch-height - 6px) / 2;


// // transitions for offcanvas menu
// @media #{$menu-mobile}{
//   .menus-wrapper, .mobile-bar, .site-wrap{
//     @include transition(transform 300ms ease);
//   }
// }

// // dark background when opening the mobile menu
// .site-menu-overlay{
//   height: 0;
//   width: 0;
//   position: fixed;
//   z-index: $menu-z-index - 2;
//   background-color: rgba(#000, 0.7);
//   opacity: 0;
//   @include transition(opacity 300ms ease);
// }


// #site-menu{
//   // bar visible only on the mobile version, with the button to toggle the menu and the logo
//   .mobile-bar{
//     height: $menu-mobile-height;
//     background-color: $menu-mobile-background;

//     @media #{$menu-mobile}{
//       width: 100%;
//       position: fixed;
//       height: $menu-mobile-height;
//       left: 0;
//       top: 0;
//       z-index: $menu-z-index;
//     }

//     @media #{$menu-desktop}{
//       display: none;
//     }

//     .mobile-menu-toggler{
//       float: right;
//       height: $sandwitch-height;
//       width: $sandwitch-width;
//       float: right;
//       margin-top: ( $menu-mobile-height - $sandwitch-height ) / 2;
//       margin-right: 10px;
//       cursor: pointer;

//       span{
//         display: block;
//         width: 100%;
//         height: 2px;
//         background-color: $sandwitch-color;
//         margin-top: $sandwitch-margin;
//         margin-bottom: $sandwitch-margin;
//         @include transition;

//         &:first-child{
//           margin-top: 0;
//           transform-origin: center ($sandwitch-margin + 2);
//         }

//         &:last-child{
//           margin-bottom: 0;
//           transform-origin: center (0 - $sandwitch-margin - 2);
//         }
//       }
//     }
//   }


//   .menus-wrapper{
//     @media #{$menu-mobile}{
//       position: fixed;
//       right: 100%;
//       top: 0;
//       bottom: 0;
//       background-color: $offcanvas-menu-bg;
//       width: $offcanvas-menu-width;
//       z-index: $menu-z-index;
//     }


//     // small black menu on top
//     .user-menu{
//       background-color: #222;
//       padding: 10px 0;
//       font-weight: 300;

//       *, a{
//         color: rgba(#fff, 0.7);
//       }

//       a:hover{
//         color: rgba(#fff, 0.9);
//       }

//       // left number
//       .assistance-help{
//         font-size: 16px;

//         .assistance-text{
//           @media #{$menu-mobile}{
//             display: block;
//           }
//         }

//         i.fa{
//           margin-right: 5px;
//         }

//         .call-btn{
//           color: #fff;
//         }

//         @media #{$menu-mobile}{
//           font-size: 14px;
//           border-bottom: 1px solid rgba(#fff, 0.2);
//           display: block;
//           width: 100%;
//           padding-bottom: 8px;
//           margin-bottom: 10px;
//         }
//       }

//       .actions-nav{
//         float: right;

//         @media #{$menu-mobile}{
//           float: none;
//         }

//         ul{
//           margin: 0;
//           padding: 0;
//           list-style: none;

//           li{
//             display: inline-block;
//             margin: 0 6px;

//             @media #{$menu-mobile}{
//               display: block;
//               margin: 12px 0;
//               font-size: 14px;
//             }
//           }
//         }
//       }

//     }



//     // main menu
//     #main-menu{

//       .logo-container{
//         height: $menu-height;
//         padding: 5px 0;
//         float: left;

//         img{
//           max-height: 100%;
//         }
//       }

//       // actions menu (search and cart)
//       .actions-menu{
//         height: $menu-height;
//         float: right;
//         margin: 0 0 0 25px;
//         padding: 0;
//         list-style: none;

//         li{
//           float: left;
//           margin: 0 10px;
//           line-height: $menu-height;

//           a{
//             font-size: 16px;
//             display: block;
//             margin: 0;
//             padding: 0;
//             color: #222;
//           }
//         }
//       }


//       // site menu
//       .nav-menu{
//         height: $menu-height;
//         margin: 0;
//         padding: 0;
//         float: right;

//         li{
//           float: left;
//           display: block;
//           margin: 0 10px;

//           a{
//             font-size: 16px;
//             line-height: 20px;
//             padding: ($menu-height - 20px)/2 10px;
//             display: block;
//             color: #444;
//             font-weight: 300;

//             &:hover{
//               color: $brand-primary;
//             }
//           }

//           &.active{
//             a{
//               color: $brand-primary;
//             }
//           }
//         }
//       }

//     }
//   }
// }


// .site-wrap{
//   min-height: 100%;
//   min-width: 100%;
// }


// body.menu-opened{
//   @media #{$menu-mobile}{
//     overflow: hidden;

//     .menus-wrapper, .mobile-bar, .site-wrap{
//       @include transform(translateX($offcanvas-menu-width));
//     }

//     .site-menu-overlay{
//       width: auto;
//       height: auto;
//       top: 0;
//       right: 0;
//       bottom: 0;
//       left: 0;
//       opacity: 1;
//     }
//   }

//   #site-menu{
//     .menus-wrapper{

//     }
//   }

//   .site-wrap{

//   }
// }

// body{
//   @media #{$menu-mobile}{
//     padding-top: $menu-mobile-height;
//     overflow-x: hidden;
//   }
// }
