// @import "utilities/bootstrap_variables";


// // assign this class to a form to have all its inputs as floating labels
// .floating-labels, .floating-label{

//   .floating-label-wrapper{
//     position: relative;


//     input:not([type="checkbox"]):not([type="submit"]):not([type="radio"]){

//       height: 40px;

//       &, textarea{
//         padding-top: 3px;
//         line-height: 20px;
//         padding-bottom: 3px;
//         transition: padding-top 200ms ease;
//       }
//     }

//     label{
//       visibility: hidden;
//       opacity: 0;
//       position: absolute;
//       margin: 0;
//       top: 0;
//       left: 0;
//       padding: 3px 13px;
//       font-size: 12px;
//       transition: opacity 200ms ease, transform 200ms ease, -webkit-transform 200ms ease, -moz-transform 200ms ease;
//       transform: translateY(5px);
//       color: #aaa;
//     }

//     &.floating-visible{
//       input:not([type="checkbox"]):not([type="submit"]):not([type="radio"]), textarea{
//         padding-top: 17px;
//       }

//       label{
//         transform: translateY(0);
//         visibility: visible;
//         opacity: 1;
//       }
//     }

//     &.focussed{
//       label{
//         color: $brand-primary;
//       }
//     }

//   }

// }
