- # ============================================================================
- # though we could use this partial directly, i strongly advised against it.
- # call this partial from 'banner' or 'fullwidth_banner' instead.

- # for this partial to work, the following locals should be passed:
- # sitemap (a Sitemap instance)

- # the slider plugin used is RoyalSlider
- # http://dimsemenov.com/plugins/royal-slider/documentation/

- # each children of the sitemap passed is considered to be a single slide
- # each slide can use the following sitemap attributes
- # extend and change this partial in the future according to your needs.

- # sitemap.title:                 is the main title into the slide
- # sitemap.short_description:     is a string to put under th emain title (sub-title)
- # sitemap.description:           is a longer text that can be added in front of the banner
- # sitemap.link:                  is the banner destination
- # sitemap.link_title:            is the link text if a link is provided
- # sitemap.images.normals.first:  is the first image with typology 'normal' loaded into each child

- # you can set slide's text color individually using { color: '#fff' }
- # ============================================================================


-# cache cache_for_locale("page_content-#{sitemap.cache_key}") do
- defaults = "{ layout: #{sitemap.layout.gsub('banner', '').gsub(/_\z/, '')}, height: 400, transition_type: 'fade', show_arrow: 'true', show_dots: 'true', autoplay: 'true', align: 'center', color: '#fff' }"
- options = get_layout_options(sitemap, YAML.safe_load(defaults))

- images = sitemap.children.joins(:images).where(attachments: { typology_id: 0 }).uniq

- # bullet should be disabled if:
- # 1. options['show_dots'] NOT set to true, OR
- # 2. total images not more than 1, regardless options['show_dots']
- options['show_dots'] = options['show_dots'].to_s == 'true' ? (images.count > 1 ? 'bullets' : 'none') : 'none'

- if images.present?
  - if options['layout'] == 'full_width'
    - # full-width banner
    .height-width
      = render 'frontend/pages/parts/banner_content', sitemap: sitemap, images: images, options: options

  - elsif options['layout'] == 'full_screen'
    - # full-screen banner
    .fullscreen-banner-container
      = render 'frontend/pages/parts/banner_content', sitemap: sitemap, images: images, options: options

  - else
    - # normal banner
    .container
      .row
        .col.px-0.px-md-3
          = render 'frontend/pages/parts/banner_content', sitemap: sitemap, images: images, options: options
