-# cache cache_for_locale("page_content-#{sitemap.cache_key}") do
.banner.royalSlider.rsDefault{ id: "section-banner-#{sitemap.id}", style: "min-height: #{options['height']}px", data: { transition_type: options['transition_type'], show_arrow: options['show_arrow'].to_s, autoplay: options['autoplay'].to_s, show_dots: options['show_dots'].to_s, fullscreen: (options['layout'] == 'full_screen' ? true : false).to_s } }
  - images.each do |slide|
    - # draw each image content
    - defaults = "{ color: '#{options['color']}', align: '#{options['align']}' }"
    - options = options.merge(get_layout_options(slide, YAML.safe_load(defaults)))

    .slide.rsContent
      = image_tag(slide.images.normals.first.url('1800'), class: 'rsImg img-fluid')

      .position-absolute.slide-content{ class: "content-#{options['align']}", style: "text-align: #{options['align']}" }
        .container
          .row{ class: banner_alignment(options['align']) }
            .col-12.col-md-4
              %h2.slide-title{ style: "color: #{options['color']}" }= slide.title

              - if (subtitle = slide.short_description).present?
                %h4.slide-subtitle{ style: "color: #{options['color']}" }= subtitle

              - if (text = slide.description).present?
                .slide-text{ style: "color: #{options['color']}" }= raw text

              - if (link = slide.link).present?
                .slide-link= link_to slide.link_title, link, target: slide.link_target

- content_for :javascripts do
  :javascript
    var $el = $("#section-banner-#{sitemap.id}");
    // var $h = ;

    if ($el.data('fullscreen') == true) {
      $('.fullscreen-banner-container').height($(window).height());
      $h = $(window).height()
    } else {
      $h = '400'
    }

    $el.royalSlider({
      imageScaleMode: 'fill',
      transitionType: $el.data('transition-type'),
      arrowsNav: $el.data('show-arrow'),
      slidesSpacing:  0,
      loopRewind:     true,
      controlNavigation: $el.data('show-dots'),
      autoScaleSliderHeight: $h,
      imageAlignCenter: true,
      autoplay: {
        enabled:      $el.data('autoplay'),
        stopAtAction: false,
        pauseOnHover: false,
        delay:        6000
      }
    });

    $el.royalSlider('updateSliderSize', true);

