#blog-section
  - if (blogs = section.children).present?
    .container
      .row
        .col-12
          - blogs = blogs.page(params[:page]).per(8)
          - blogs.each do |blog|
            .list-entry
              .page-title
                = link_to page_path(blog) do
                  %h2= blog.title
                  .entry-dateline-link
                    = blog.date&.strftime("%B %d, %Y")

              - if (imgs = blog.images).present?
                .page-content.text-center
                  .content-image
                    = link_to page_path(blog) do
                      = image_tag imgs.first.url

              - if (content = truncate(blog.description, length: 250, :escape => false)).present?
                .page-content.description
                  = link_to page_path(blog) do
                    - simple_format(content.html_safe)
                    = parse_content(simple_format(content.html_safe), blog)

                = link_to t('read_more'), page_path(blog), class: 'entry-more-link'

          .pager
            - unless blogs.first_page?
              = link_to page_path(id: @page.to_param, page: blogs.prev_page), class: "newer pull-left" do
                %i.fa.fa-angle-left
                Newer Posts

            - unless blogs.last_page?
              = link_to page_path(id: @page.to_param, page: blogs.next_page), class: "older pull-right" do
                Older Posts
                %i.fa.fa-angle-right
