- defaults = "{ fields: 'name: required; email: required;', container_class: 'contact-form', privacy: true, typology: 'Contatto Generico' }"
- options = get_layout_options(sitemap, YAML.safe_load(defaults))

.container.section
  .row.justify-content-around
    .col-12.col-lg-5.form-contact-left
      - # render 'page_content' partial to ensure it has consistent formatting & styling
      = render 'frontend/pages/parts/page_content_contact', sitemap: sitemap, options: options

    .col-12.col-lg-5.form-contact-right.section
      -# %div{ class: options['container_class'] }
      -#   .container.section{ id: "section-form-#{sitemap.id}" }
      -#     .row
      -#       .col
      -#         %div{ class: "#{options['container_class']}-container" }
      - @contact ||= Contact.new(session[:dynamic_contact])

      = form_for @contact, url: { controller: 'frontend/contacts', action: :dynamic }, method: :post, remote: true, html: { id: options['container_class'] }  do |f|

        = f.hidden_field :form_id, value: sitemap.id
        = f.hidden_field :typology, value: options['typology']

        - options['fields'].split(';').map(&:strip).each do |field|
          - field = field.split(':').map(&:strip)
          .field
            .form-group
              = db_field_to_input(f, 'Contact', field[0], (field[1] == 'required'))

        -# - if options['privacy'].to_s == 'true'
        -#   .form-group.privacy-agreement
        -#     - if (privacy_page = @all_pages.find_by_layout 'privacy').present?
        -#       = f.check_box :privacy, required: true, id: "privacy_#{sitemap.id}"

        -#       = label_tag '', class: 'check-label', for: "privacy_#{sitemap.id}" do
        -#         = t('contacts.privacy_statement', privacy: link_to(t('contacts.privacy'), page_path(privacy_page), target: :blank)).html_safe

        %button.submit-btn{ type: 'submit', name: 'commit' }
          -# %i.fa.fa-send
          = t 'contacts.send'
