.embed-product
  -# %h2.product-title= link_to product.name, product_path(product)

  .row.mt-3.align-items-center
    .col-12.col-md-7
      .product-image
        = link_to product_path(product) do
          - image_url = (images = product.images.normals).present? ? images&.first&.url('393') : '//via.placeholder.com/393x262'
          = image_tag image_url, class: 'img-fluid'

    .col-12.col-md-4.embed-content
      %h2= product.name

      .price
        - # show list price if it present, alongside with the discount in percent
        - if product.has_discount?
          .normal-price
            = number_to_currency product.price_list
            %span.discount #{t 'products.discount', disc: product.discount.to_s + "%" }

        .price-with-vat
          = number_to_currency product.price_with_vat
          %small= t('include_vat')

        .price-without-vat
          = number_to_currency product.price_without_vat
          %small= "+ #{t("vat_iva")}"

      = simple_format(truncate product.description, length: 255)

      = link_to t('products.buy_now'), product_path(product), class: 'embed-btn'

  -# .lorem= link_to product_path(product)

      -# .description= simple_format product.description_short.html_safe

      -# - if product.purchasable?
      -#   = form_tag cart_add_product_path(product_id: product.id), remote: true, class: 'order-form' do
      -#     .product-in-cart-alert{ id: "product-in-cart-alert-#{product.id}" }
      -#       - if @current_cart.items.collect(&:product_id).include?(product.id)
      -#         = render 'frontend/products/in_cart_alert'

      -#     .form-group
      -#       = label_tag :quantity, "#{t('products.quantity')}:"
      -#       = hidden_field_tag :redirect_url, "#{request.original_url}"

      -#       .clearfix
      -#         .pull-left
      -#           = quantity_field_for product
