#event-list
  - if (events = section.children).present?
    .container
      .row
        .col-12
          - events.each do |event|
            .list-entry
              .page-title
                .entry-dateline-link= event.date&.strftime("%B %d, %Y")

                %h2= link_to event.text, page_path(event)

              - if (content = truncate(event.short_description, length: 250)).present?
                .page-content.description
                  = link_to page_path(event) do
                    = simple_format(content.html_safe)

                = link_to t('read_more'), page_path(event), class: 'entry-more-link'
