- if (images = section.images.normals).present?
  %section
    #gallery
      .container
        .row
          .col-12
            %hr.divider

            .row
              - images.each do |image|
                .col-sm-4
                  .thumb-container.square-thumb
                    = image_tag image.url('391x391'), href: image.url

- content_for :stylesheets do
  = stylesheet_link_tag 'magnific-popup'

- content_for :javascripts do
  = javascript_include_tag 'jquery.magnific-popup.min'

  :javascript
    $('#gallery').magnificPopup({
      delegate: 'img',
      type: 'image',
      closeBtnInside: false,
      gallery: {
        enabled: true,
        tCounter: ''
      }
    });
