- defaults = "{ show_title: 'true', per_row: 4, show_description: 'true', image_as_bg: false }"
- options = get_layout_options(sitemap, YAML.safe_load(defaults))

- image_contents = sitemap.children

- # render 'page_content' partial to ensure it has consistent formatting & styling
= render 'frontend/pages/parts/page_content', sitemap: sitemap, options: options

- # important!
- # always make sure options have correct value type, e.g. to_i if you need integer
- # this is to handle when admin input wrong type of value
.container.my-5.image-links{ id: "section-image-links-#{sitemap.id}" }
  .row
    - klass = options['per_row'].to_i > 1 ? "col-12 col-md-#{(12 / options['per_row'].to_i).floor}" : nil

    - image_contents.includes(:children).each do |child|
      - next unless (images = child.images&.normals).present?

      .col{ class: klass }
        = link_to child.link, target: child.link_target do
          - img = image_tag images.first.url('300'), class: 'img-fluid'

          - if options['image_as_bg'].to_s == 'true'
            - container_class = 'link-bg-container'
          - else
            - container_class = 'link-container'

          .text-center{ class: container_class }
            .image-container
              = img

            .link-content
              - if options['show_title'].to_s == 'true'
                %h4= child.title&.html_safe

              - if options['show_description'].to_s == 'true'
                = simple_format child.description
