- defaults = "{ button_class: 'btn btn-danger' }"
- options = get_layout_options(sitemap, YAML.safe_load(defaults))

- # render 'page_content' partial to ensure it has consistent formatting & styling
= render 'frontend/pages/parts/page_content', sitemap: sitemap, options: options

- if (links = sitemap.children).present?
  .container.my-2{ id: "section-link-#{sitemap.id}" }
    .row
      - links.each do |link|
        .col.text-center.my-3
          = link_to link.link, class: btn_class do
            = link.link_title
