- # ============================================================================
- # put your map theme js in 'app/assets/javascripts/frontend/map-styles'.
- # filename should be the equal to options['map_style'].parameterize
- # e.g. if we have map_style = 'simplified grayscale' then the file should be
- # 'app/assets/javascripts/frontend/map-styles/simplified_grayscale.js'
- # ============================================================================


-# - cache cache_for_locale("page_content-#{sitemap.cache_key}") do
- defaults = "{ coordinate: '41.905753,12.4818493', map_style: 'simplified grayscale' }"
- options = get_layout_options(sitemap, YAML.safe_load(defaults))
- coord = options['coordinate'].split(',').map{ |c| c.strip }

- # render 'page_content' partial to ensure it has consistent formatting & styling
= render 'frontend/pages/parts/page_content_categories', sitemap: sitemap, options: options

.container
  .row
    .col
      .map-container
        #map

- content_for :javascripts do
  = javascript_include_tag "frontend/map-styles/#{options['map_style'].parameterize}"

  :javascript
    function initMap() {
      var myLatLng = {
        lat: #{coord[0]},
        lng: #{coord[1]}
      };

      var map = new google.maps.Map(document.getElementById('map'), {
        center: myLatLng,
        zoom: 15,
        styles: map_style_opts
      });

      var marker = new google.maps.Marker({
        position: myLatLng,
        title: "Football Player"
      });
    }

  = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyAPfoCD8LCOvGaxO-slw_nAZpGWbsPI70o&callback=initMap'
