- # ============================================================================
- # by default, needed attributes are:
- # * sitemap.images.logos.first.url: icon for title
- # * sitemap.title:                  title
- # * sitemap.short_description:      subtitle
- # * sitemap.description:            content
- # ============================================================================


- image = sitemap.images&.logos&.first
- title = sitemap.title
- subtitle = sitemap.short_description
- content = sitemap.description
- date = sitemap.date

- if image.present? || title.present? || subtitle.present? || content.present?
  .container.section.contact-leftside{ id: "section-content-#{sitemap.id}" }
    .page-content
      .title
        - # icon, if any
        - if image.present?
          .title-icon
            = image_tag image.url('x150')

        - # title, if any
        - if title.present?
          %h2= title.html_safe

        - # subtitle, if any
        - if subtitle.present?
          %h3= parse_content subtitle, sitemap

        - # date, if any
        - if date.present?
          .date= date.strftime("%B %d, %Y")

      - # content
      - if content.present?
        .content
          = parse_content content, sitemap


