- # ============================================================================
- # by default, needed attributes are:
- # * sitemap.images.logos.first.url: icon for title
- # * sitemap.title:                  title
- # * sitemap.short_description:      subtitle
- # * sitemap.description:            content
- # ============================================================================


- unless defined?(options)
  - defaults = "{ logo_as_title_bg: false }"
  - options = get_layout_options(sitemap, YAML.safe_load(defaults))

- image = sitemap.images&.logos&.first
- title = sitemap.title
- subtitle = sitemap.short_description
- content = sitemap.description
- date = sitemap.date

- if image.present? || title.present? || subtitle.present? || content.present?
  .container.categories-rightop{ id: "section-content-#{sitemap.id}" }
    .row
      .col
        .page-content
          .title
            - # icon, if any
            - if image.present? && options['logo_as_title_bg'].to_s == 'true'
              .header-image-container{ style: "background-image: url(#{asset_path(image.url('x150'))})" }
                .header-content
                  - # title, if any
                  - if title.present?
                    %h2= title.html_safe

                  - # subtitle, if any
                  - if subtitle.present?
                    %h3= parse_content subtitle, sitemap

            - else
              - if image.present?
                .title-icon
                  = image_tag image.url('x150')

              - # title, if any
              - if title.present?
                %h2= title.html_safe

              - # subtitle, if any
              - if subtitle.present?
                %h3= parse_content subtitle, sitemap

            - # date, if any
            - if date.present?
              .date= date.strftime("%B %d, %Y")

          - # content
          - if content.present?
            .content
              = parse_content content, sitemap


