.container.products-list.product-list-card{ id: "section-products-#{sitemap&.id}" }
  - products.in_groups_of(options['per_row'], false).each do |products_group|
    .row
      - products_group.each do |product|
        .col-6{ class: "col-lg-#{(12 / options['per_row']).floor}" }
          - klass = 'card product-card'
          - klass += ' with-rollover-image' if (rollover_image = product.images.rollovers.first).present?

          = link_to product_path(product), class: klass, style: "background-color: #{options['bg_color']}", onmouseover: "this.style.backgroundColor = '#{options['hover_bg_color']}'", onmouseout: "this.style.backgroundColor = '#{options['bg_color']}'" do
            - if (preview = product.images.normals.first).present?
              .card-img-top.position-relative
                .image-container
                  = image_tag preview.url('200x200#'), class: 'position-relative first-image img-fluid'

                  - if rollover_image.present?
                    = image_tag rollover_image.url('200x200#'), class: 'position-absolute second-image img-fluid'

            - else
              = image_tag '//via.placeholder.com/200x200', class: 'card-img-top position-relative img-fluid'

            - if product.has_discount?
              .discount-badge
                = "-#{product.discount_percentage.to_s}%"

            - if !product.available?
              .availability-badge{ class: "badge-#{product.availability}" }
                %span= t "products.availability.#{product.availability}"

            .card-body
              %h3.product-name= product.name

              %h4.product-sku= product.code

              %h5.product-price
                - if !product.has_reseller_price? && product.has_discount?
                  %span.original-price= number_to_currency product.price_table.price_list

                %span.price= number_to_currency product.price_with_vat
