- # ============================================================================
- # for this partial to work, the following locals should be passed:
- # sitemap ( a Sitemap instance )

- # the extra_1 of the sitemap passed, should contain a list of product ids separated by comma
- # sitemap short description will be used as title, if provided
- # here's an example of a valid list: "140, 156, 208, 1130, 6820"

- # extend this partial according to your needs, this is just a minimal structure
- # ============================================================================


- defaults = "{ show: 'featured', layout: 'card', limit: 6, per_row: 6, bg_color: '#f7f7f7', hover_bg_color: '#fff', use_paginator: false }"
- options = get_layout_options(sitemap, YAML.safe_load(defaults))

- options['limit'] = options['limit'].to_i
- options['per_row'] = options['per_row'].to_i

- products = get_product_list(options['show'], options['limit'])
- if products.present?
  - # render 'page_content' partial to ensure it has consistent formatting & styling
  = render 'frontend/pages/parts/page_content', sitemap: sitemap, options: options

  = render "frontend/pages/parts/product_list_#{options['layout']}", sitemap: sitemap, products: products, options: options
