- # ============================================================================
- # accepted options:
- # BOOLEAN border, default true
- # INTEGER height, default 120
- # ============================================================================


- cache cache_for_locale("page_content-#{sitemap.cache_key}") do
  - defaults = "{ use_border: true, height: 120 }"
  - options = get_layout_options(sitemap, YAML.safe_load(defaults))

  .container.spacer
    - if options['use_border'].to_s == 'true'
      %hr{ style: "margin: #{options['height'].to_i / 2}px 0" }
    - else
      %div{ style: "height: #{options['height'].to_i}px" }
