-# - cache cache_for_locale("page_content-#{sitemap.cache_key}") do
.subscription-form
  .container
    .row.justify-content-center
      .col-12
        .subscription-form-container
          - @contact ||= Contact.new(session[:contact_newsletter])

          = form_for @contact, url: { controller: 'frontend/contacts', action: :newsletter }, method: :post, remote: true, html: { id: 'subscription-form' }  do |f|
            .title
              %h4= t 'contacts.newsletter.title'

            .field
              .form-group
                = f.text_field :name, required: true, class: 'form-control', placeholder: t('contacts.name')

              .form-group
                = f.text_field :email, required: true, class: 'form-control', placeholder: t('contacts.email')

              .form-group
                %button.submit-btn{ type: 'submit', name: 'commit' }
                  -# %i.fa.fa-send
                  = t 'contacts.send'

            .privacy-agreement
              - if (privacy_page = @all_pages.find_by_layout 'privacy').present?
                = f.check_box :privacy, required: true

                = label_tag '', class: 'check-label', for: 'contact_privacy' do
                  = t('contacts.privacy_statement', privacy: link_to(t('contacts.privacy'), page_path(privacy_page), target: :blank)).html_safe
