#exception-page.container
  .row
    .col.text-center
      %h1.error-code= t('exceptions.error.title', code: '404')
      %p
        = t('exceptions.not_found.text')
        %br
        = t('exceptions.not_found.reasons')

      %p.home-text= t('exceptions.not_found.home_text')

      %p
        - home_link = (title = @homepage.title).present? ? title : t('homepage')
        = link_to home_link, root_path, class: 'home-btn'
