- meta title: t('retrieve_password'), description: t('retrieve_password')

.container
  .row
    .col-12.col-md-6.my-4
      %h4= t('change_password')

      %p= t('insert_email_password_send')

      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form' }) do |f|
        / = devise_error_messages!

        = f.hidden_field :reset_password_token

        .form-row
          .form-group.col.col-md-4
            = f.password_field :password, autofocus: true, autocomplete: 'off', class: 'form-control', placeholder: t('new_password')

          .form-group.col.col-md-4
            = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control', placeholder: t('password_confirmation')

          .form-group.col.col-md-4
            = f.submit t('save_password'), class: 'submit-btn'

        - if @minimum_password_length
          .form-row
            %small.help-block
              = t('minimum_password_length', length: @minimum_password_length)

      = link_to t('login'), new_session_path(resource_name)

    = render 'accounts/shared/register_box'

