- meta title: t('retrieve_password'), description: t('retrieve_password')

.container
  .row
    .col-12.col-md-6.my-4
      %h4= t('password_lost')

      %p= t('insert_email_password_send')

      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form' }) do |f|
        / = devise_error_messages!

        .form-row
          .form-group.col-md-12.col-lg-8
            = f.email_field :email, autofocus: true, class: 'form-control', placeholder: true

          .form-group.col-md-12.col-lg-4
            = f.submit t('retrieve_password'), class: 'btn btn-primary'

      = link_to t('login'), new_session_path(resource_name), class: 'back-login'

    = render 'accounts/shared/register_box'
