- @body_class = 'cart-padded'

.cart-page
  .container
    .row
      .col.col-sm-8
        .cart-content
          - # unpaid orders reminder
          - unless @skip_unpaid_orders
            = render 'accounts/shared/unpaid_orders'

          = yield :cart_content

      - if @current_cart.items.size > 0
        .col.col-sm-4.rightbar
          .right-products
            = render 'frontend/cart/parts/items_list'
            %hr
            = render 'frontend/cart/parts/total_recap'

  / - if @current_cart.items.size > 0
  /   .mobile-recap
  /     .recap-bar
  /       .float-left
  /         %i.fa.fa-caret-up.mr-3
  /         =t("cart_summary")
  /         -# cart-quantity-badge is targeted by the javascript that updates the cart quantity, don't change or remove that class
  /         %span.cart-quantity-badge.badge.ml-1
  /           =@current_cart.items.size

  /       .float-right.recap-total
  /         =number_to_currency @current_cart.final_price

  /     .recap-scroll-wrapper
  /       .recap-items
  /         =render partial: "frontend/cart/parts/items_list"
  /       .recap-price-details
  /         =render partial: "frontend/cart/parts/total_recap"
