// (function() {
//   var html = `<div class="text-center">
//     <h1>Bella li!</h1>
//     <div>Prodotto <span class="text-success"><%= @product.name %> X <%= @quantity %></span> aggiunto al carrello</div>
//   </div>`;

//   // $.magnificPopup.open({
//   //   type: "inline",
//   //   items: {
//   //     src: html
//   //   }
//   // });

// }())

<% if @success %>
  // TODO:
  // add option for showing alert like popup
  // add alert
  $(".product-in-cart-alert#product-in-cart-alert-<%= @product.id %>").html("<%= j render('frontend/products/in_cart_alert') %>")

  // change cart number
  $('.cart-counter').text("<%= j @current_cart.products.size.to_s %>")

  var $div = $('.add-cart-products-popup')

  // update cart popup
  $.when($div.replaceWith("<%= j render('frontend/cart/parts/cart_popup') %>")).done(function() {
    $.when($('html, body').animate({ scrollTop: 0 }, 500)).done(function() {
      // re-declare the div since we've changed the whole element
      $div = $('.add-cart-products-popup')

      // force open the tooltip
      $div.fadeIn(400, function() {
        setTimeout(function() {
          $div.fadeOut()
        }, 2000);
      })
    })
  })
<% else %>
  // TODO:
  // do alert when error
<% end %>
