- meta title: t("shipping"), description: t("shipping")

- content_for :javascripts do
  = javascript_include_tag "frontend/cart/shipping"

.cart-shipping
  = cart_panel do
    %h2= t("shipping_address")
    %p= t("please_note_this_is_the_postal")
    %b= t("shipping_address_delivery_item")


    = form_for @address, url: cart_update_shipping_path, html: { class: "form floating-labels" } do |f|
      = error_messages_for(@address)

      .my-4
        = render "accounts/shipping_addresses/shipping_fields", f: f

        .row
          .p-4.float-left= link_to t("go_back"), :back, class: "btn btn-default"
          .p-4.float-right= f.submit t("save_changes"), class: "btn btn-primary"
