- meta title: t('checkout'), description: t('checkout')

= cart_panel do
  .cart-confirm
    = render 'frontend/cart/confirm_parts/promo'

    %hr
    %h2= t('checkout')

    = form_for @current_cart, url: cart_make_order_path, method: :post, html: { id: 'cart-form' } do |f|
      = error_messages_for @current_cart
      - # warning messages
      - @current_cart.warnings? # this will trigger the warnings callbacks and will populate the warning messages as necessary
      - if @current_cart.warnings.present?
        = flash_warning(@current_cart.warnings.messages.values.flatten)

      - # if there's a problem creating the order (this should never happen!), show the order errors, this will help us to debug and the customers to report any unexpected error
      - if @current_cart.order.present? && @current_cart.order.errors.present?
        = error_messages_for(@current_cart.order)

      .row.v-top
        - # shipping address
        .col-12.col-sm-6.p-3
          = render 'frontend/cart/confirm_parts/shipping_address_box', f: f

        - # invoice details
        .col-12.col-sm-6.p-3
          = render 'frontend/cart/confirm_parts/billing_info_box', f: f

      %h3= t('payment_method')

      = link_to cart_show_path, class: 'btn btn-default btn-sm' do
        = t('change_payment_method')

      - payment = @current_cart.payment

      .row
        .payment.p-4.current
          .payment-image
            - if payment.image.present?
              = image_tag(payment.image.url('80x40>'))

          .payment-details
            %h4.mt-0= payment.name
            .details= payment.description_short
          .clearfix

      .row.my-4.v-bottom
        .col-12.col-sm-6.coupon-box.p-4
          - # =f.label :code
          - if @current_cart.coupon.present?
            .row.v-bottom
              .col-8
                = t('coupon_active')
                %h4.text-success.my-0
                  = @current_cart.coupon_code

              .col-4
                %button.btn.btn-danger.btn-block{ type: 'submit', name: 'shopping_cart[coupon_code]', value: '' }
                  = t('remove')

          - else
            .row.v-bottom
              .col-8
                = f.text_field :coupon_code, class: "form-control m-0", placeholder: t('coupon')

              .col-4.pl-0
                %button.btn.btn-default.btn-block{ type: 'submit' }
                  = t('activate')

        .col-12.col-sm-6.mt-4
          %button.btn.btn-success.btn-block.btn-lg{ type: 'submit', name: 'after_update', value: 'make_order', form: 'cart-form' }
            %i.fa.fa-check.mr-2
            = t('finish_order')
