- meta title: t("cart"), description: t("invoice_data")

= cart_panel do
  - if !@current_account.can_order?
    %h2= t 'missing_details.title'
    %p= t 'missing_details.message'

  - else
    %h2= t 'edit_billing_information'
    %p= raw t 'this_data_utilized_for'

  = form_for(@current_account, url: cart_fill_details_path, method: :patch, html: {class: "form floating-labels"}) do |f|
    = error_messages_for(@current_account)

    - # the name and surname are visible only if the account is editing the billing informations
    - if @current_account.can_order?
      -# adds the link to change account typology
      %p
        - if @current_account.vat_customer?
          = t 'customer_registration'
          = link_to t('click_here'), edit_account_path

        - else
          = t 'company_registration'
          = link_to t('click_here'), edit_vat_account_path

        - # name and surname
        = render 'accounts/form_parts/name_surname_fields', form: f, vat_account: @current_account.vat_customer?

    %hr

    - # address fields
    = render 'accounts/form_parts/address_fields', form: f

    - # fiscal code
    = render 'accounts/form_parts/cfis_fields', form: f

    - # additional informations
    = render 'accounts/form_parts/additional_informations_fields', form: f

    %hr

    - # telephone
    = render 'accounts/form_parts/phone_fields', form: f

    .form-group.clearfix.action-buttons
      = link_to :back, t('go_back'), class: 'back-btn'

      = f.submit t('missing_details.submit'), class: 'submit-btn'
