- # This page will be displayed only once, as the order gets completed, it's not possible to visit it later
- # It contains all the tracking codes for the vavrious platforms that should be called on purchase

- meta title: t('order_completed'), description: t('order_completed')

= cart_panel do
  .row
    .col-12.text-center
      %h2
        %i.fa.fa-check.mr-2
        = t('order_completed')

      %h3.my-0
        %small= t('your_order_processed_correctly')

  .row.my-4
    .col-12.text-center
      = render 'orders/payment_instructions', order: @current_cart.order

- # tracking services
- if @trackings.present?
  - content_for :trackings do
    = @trackings.purchase(@current_cart.order)
