(function(){
  // var selector = ".cart-item-<%=@item.id%>";
  // var $item = $(selector);
  // var badge = <%=@current_cart.items.size%>;

  // $item.fadeOut(300, function(){
  //   $item.remove();
  // });

  // $(".cart-quantity-badge").text(badge);

  window.location.reload();
})()