- meta title: t('cart'), description: t('cart_summary')

= cart_panel do
  %h2.page-title.mb-3= t('cart_summary')

  - if @current_cart.errors.present?
    = error_messages_for(@current_cart)

  - @current_cart.warnings? # this will trigger the warnings callbacks and will populate the warning messages as necessary

  - if @current_cart.warnings.present?
    = flash_warning(@current_cart.warnings.messages.values.flatten)

  - if @items.present?
    = form_for @current_cart, url: cart_update_path, method: :put, remote: true do |f|
      .cart-items
        = f.fields_for :items, @items do |fields|
          - item = fields.object # ShoppingCart::Item instance
          - product = item.product
          - # the cart-item-id is targeted by the remove action javascript that will fadeout that row on success
          .item{ class: "cart-item-#{item.id}" }

            .item-detail
              - # product image
              .item-image.item-box
                - if product.present? && (images = item.product.images).present?
                  = image_tag(images.first.url('128x128#'))

              - # name and description
              .item-details.item-box
                %h4.item-name= item.name

                - if product.present?
                  .item-description
                    %small
                      = strip_tags(item.product.description)

              - # quantity
              .item-quantity.item-box
                - # if the product exists, let the user change the quantity
                - if product.present?
                  .single-price
                    = number_to_currency item.price_with_vat
                    = 'x'

                  .quantity-input
                    = quantity_field_for item.product, item.quantity, "shopping_cart[items_attributes][#{fields.index}][quantity]"

                - else
                  .single-price
                    = number_to_currency item.price_with_vat
                    = 'x'

                  .quantity-input= text_field_tag :quantity, item.quantity

                - # total price
                .item-total{ id: "total-item-price-#{product.id}" }
                  = number_to_currency item.total_with_vat

              -# remove item button
              .item-actions
                -# the delete-cart-item class is needed to let javascript target this link and make a DELETE request
                - message = "#{t('are_you_sure_you_want_to_remove')} #{item.name}?"
                = link_to cart_remove_item_path(item_id: item.id), class: 'delete-cart-item', 'data-message' => message do
                  %i.fa.fa-minus-circle
                  = t('remove')

              .item-actions-mobile
                - message = "#{t('are_you_sure_you_want_to_remove')} #{item.name}?"
                = link_to cart_remove_item_path(item_id: item.id), class: 'delete-cart-item', 'data-message' => message do
                  %i.fa.fa-minus-circle

            - # warning messages
            - # this will trigger the warnings callbacks and will populate the warning messages as necessary
            - item.warnings?

            - if item.warnings.present?
              .item-warnings
                = flash_message('warning', '', item.warnings.messages.values.flatten, false)

            - if item.errors.present?
              .item-errors
                = flash_message('error', '', item.errors.messages.values.flatten, false)

          - content_for :javascripts do
            :javascript
              var $form = $('.edit_shopping_cart')

              $(window).load(function() {
                countPrice("#{product.id}")
              })

              $("#quantity-#{product.id}").change(function() {
                countPrice("#{product.id}")
                $(this).closest('form').submit()
              })


              // remove cart items
              $(".delete-cart-item").click(function(e){
                e.preventDefault();
                var url = $(this).attr("href");
                var message = $(this).attr("data-message");
                message = message === undefined ? "Remove this item from the cart?" : message;


                // if sweet alert has been loaded, use it to display the confirm dialog
                if ( typeof(swal) !== 'undefined' ) {
                  swal({
                    title: '',
                    text: message,
                    showCancelButton: true
                  }).then(function () {
                    ajaxDelete(url)
                  }).catch(swal.noop)
                } else {
                  // fallback without the sweet alert plugin
                  if (confirm(message))
                    ajaxDelete(url)
                }
              })

              function ajaxDelete(url) {
                $.ajax({
                  url: url,
                  method: 'DELETE',
                  dataType: 'script'
                })
              }

        .total-recap-left
          = render 'frontend/cart/parts/total_recap'

      %hr.line-cart

      - if @add_on_products
        .add-ons
          %ul
            - @add_on_products.each do |add_on|
              %li
                .check-box
                  %label
                    .add-on-input= f.check_box :add_on_id, class: 'add-on-checkbox', 'data-id' => add_on.permalink

                    .add-on-details
                      - if add_on.images.logos.present?
                        .add-on-image
                          = image_tag(add_on.images.logos.first.url('48x48#'), class: 'img-fluid')

                      .details
                        %h5
                          = add_on.name
                          - if add_on.price > 0.00
                            %small= "(#{number_to_currency(add_on.price)})"

                        = add_on.description_short

        - content_for :javascripts do
          :javascript
            $('.add-on-checkbox').on('change', function() {
              if (this.checked) {
                var id = $(this).data('id')
                var url = "/it/cart/add_product/" + id
                $.post(url, { quantity: 1, redirect_url: '' }, function() { location.reload() })
              } else {
                alert('unchecked')
              }
            })

      %h2= t('payment_method')

      = render 'frontend/cart/parts/payment_method', f: f

      .form-group.clearfix.action-buttons
        %button.submit-btn{ type: 'submit', name: 'after_update', value: 'account' }
          %i.fa.fa-shopping-basket
          = t('go_to_checkout')

  - else
    = t('no_products_in_cart')

  - content_for :javascripts do
    :javascript
      function countPrice(product_id) {
        $.ajax({
          url: "#{price_calc_products_path}",
          data: {
            product_id: product_id,
            quantity: $('#quantity-' + product_id).val()
          }
        })
      }
