<% if params[:after_update] == 'account' %>
  <% if @success %>
    window.location.replace('<%= j cart_registrations_login_or_register_path %>')
  <% end %>
<% else %>
  $('.right-products').html("<%= j render('frontend/cart/parts/items_list') %><hr><%= j render('frontend/cart/parts/total_recap') %>")
<% end %>
