!!! 5
%html{ lang: I18n.locale, prefix: "og: http://ogp.me/ns#" }
  %head
    = csrf_meta_tags

    - # colors the url bar on mobile devices with the ecommerce color
    - # - if EcommerceConfig.mobile_url_bar_color.present?
    - #  - meta 'theme-color' => EcommerceConfig.mobile_url_bar_color
    - #  - meta 'msapplication-navbutton-color' => EcommerceConfig.mobile_url_bar_color
    - #  - meta 'apple-mobile-web-app-status-bar-style' => 'black-translucent'

    - # favicons, you should create png files with following name & size on public folder
    %link{ href: '/favicons/apple-touch-icon.png', rel: 'apple-touch-icon', sizes: '180x180' }
    %link{ href: '/favicons/favicon-32x32.png', rel: 'icon', sizes: '32x32', type: 'image/png' }
    %link{ href: '/favicons/favicon-16x16.png', rel: 'icon', sizes: '16x16', type: 'image/png' }
    - # TODO: make the manifest.json file dynamic
    %link{ href: '/favicons/manifest.json', rel: 'manifest' }

    - # to see the desktop site on mobile devices
    - # viewport taken from frontend helper
    - meta viewport: viewport

    - # meta tags managed by metamagic
    = metamagic site: ENV['PAGE_TITLE_BASE'], title: -> { page_title_for(title, site) }

    - # commented out for now
    - # stylesheets
    - # = stylesheet_link_tag "application", "frontend", "frontend/forms", "frontend/floating-labels", "frontend/cart"

    - # if any, load google fonts before frontend
    = stylesheet_link_tag '//fonts.googleapis.com/css?family=Lato:400,700|Ubuntu:300,400,700|Oswald:300,400,500,600,700'
    = stylesheet_link_tag 'frontend'

    - # Custom tracking code e.g. Hotjar etc
    = @current_ecommerce.analytic&.html_safe

  %body{ class: (@body_class || '') + " #{controller_name}-#{action_name} #{controller_name.singularize}-#{params[:id].to_i rescue ""}" }
    = render 'frontend/shared/site_menu'
    = render 'frontend/shared/mobile_menu'
    - # if the vacation alert is enabled, show it
    - if @render_vacation_message
      = render 'frontend/shared/vacation_alert'

    = render 'frontend/shared/breadcrumbs' if show_breadcrumbs?

    - #- if flash_messages
    - #  .container
    - #    = flash_messages

    .site-wrap
      = yield

      = render 'frontend/pages/parts/subscription_form'

      = render 'frontend/shared/site_footer'

      = render 'frontend/shared/access_restriction'

    - # scroll up
    = link_to 'javascript:;', class: 'scrollup' do
      %i.fa.fa-chevron-up

    - # commented out for now
    - # javascripts are in the bottom of the page for a smoother page loading
    - # javascript_include_tag "application", "frontend", "frontend/menu", "frontend/floating-labels", "forms/address_fields", "frontend/cart/items"
    = javascript_include_tag 'frontend'

    -# external libraries
    -# = javascript_include_tag "jquery.magnific-popup.min", "sweetalert2.min"
    -# sets sweet alert default button text
    -#:javascript
    -#  swal.setDefaults({
    -#    cancelButtonText: "#{t('cancel')}",
    -#    confirmButtonColor: "#5cb85c",
    -#    showCloseButton: true
    -#  });

    -# jquery and bootstrap are in the application.js file
    = yield :javascripts

    -# tracking services (google analytics, google remarketing, facebook pixel, bing...)
    = @trackings.static unless @trackings.blank?
    = yield :trackings
