- meta title: t('dashboard'), description: t('dashboard')

= account_panel do
  - if !@current_account.can_order?
    .alert.alert-info.alert-dismissable{ role: 'alert' }
      = raw t('need_invoice_details', link: edit_account_path)

  - # unpaid orders reminder
  = render 'accounts/shared/unpaid_orders'

  %h3= t('latest_orders')

  = render 'accounts/shared/orders_table', orders: @latest_orders

