-meta title: t("edit_your_account"), description: t("edit_your_account")

=account_panel do
  %h2
    =t("edit_your_account")
  
  =form_for @current_account, url: update_vat_account_path, method: :patch, html: {class: "form floating-labels"} do |f|
    =error_messages_for(@current_account)

    -if flash[:account_success].present?
      =flash_success(flash[:account_success])

    -# general fields
    =render partial: "accounts/form_parts/company_general_fields", locals: {form: f}

    -# telephone
    =render partial: "accounts/form_parts/phone_fields", locals: {form: f}
    %hr

    -# address fields
    =render partial: "accounts/form_parts/address_fields", locals: {form: f}

    %hr
    -# legal rapresentant data
    =render partial: "accounts/form_parts/name_surname_fields", locals: {form: f, vat_account: true}


    .form-group
      = f.submit t("save_changes"), class: "btn btn-primary"

  %p
    =t("customer_registration")
    =link_to edit_account_path do
      =t("click_here")