- meta title: t('edit_your_account'), description: t('edit_your_account')

= account_panel do
  %h3= t('edit_your_account')

  = form_for @current_account, url: account_path, html: { class: 'form floating-labels' } do |f|
    = error_messages_for(@current_account)

    - if flash[:account_success].present?
      = flash_success(flash[:account_success])

    - # name and surname
    = render 'accounts/form_parts/name_surname_fields', form: f, vat_account: @current_account.vat_customer?

    %hr
    - # address fields
    %h4= t('invoice_data')
    = render 'accounts/form_parts/address_fields', form: f

    - # fiscal code
    = render 'accounts/form_parts/cfis_fields', form: f

    - # telephone
    = render 'accounts/form_parts/phone_fields', form: f

    %hr

    %h4= t('additional_informations')
    - # additional informations
    = render 'accounts/form_parts/additional_informations_fields', form: f

    .form-group
      = f.submit t('save_changes'), class: 'submit-btn'

  %p
    = t('company_registration')
    = link_to edit_vat_account_path do
      = t('click_here')
