- meta title: t('edit_your_account'), description: t('edit_your_account')

= account_panel do
  %h3= t('change_password')

  = form_for @current_account, url: update_password_account_path, html: { class: 'form floating-labels' } do |form|
    = error_messages_for(@current_account)

    .email-pw
      %h4= t('current_password')

      .form-row
        .form-group.col-12.col-md-6
          = form.password_field :current_password, autocomplete: 'off', class: 'form-control', placeholder: true

      %hr

      %h4= t('new_password')

      .form-row
        .form-group.col-12.col-md-6
          = form.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: true

          - if @minimum_password_length
            %span.help-block
              = t('minimum_password_length', length: @minimum_password_length)

        .form-group.col-12.col-md-6
          = form.password_field :password_confirmation, autocomplete: 'off', class: 'form-control', placeholder: true

      .form-group
        = form.submit t('save_changes'), class: 'submit-btn'
