-meta title: t("faq_page.title"), description: t("faq_page.title")

=account_panel do
  .faq-page
    -t("faq_page.questions").each_pair do |k, values|
      -title = values[:title]
      -message = values[:message]

    
      .question-box
        .question.p-4>
          %i.fa.fa-question-circle.faq-icon>
          %h4>
            =title

        .answer.p-4.bg-info
          %i.fa.fa-info.faq-icon
          .message
            =message